[2018-08-31 11:13] r0l1 opened #1 "OpenCL issues on AMD RX580"
Hi @sowson
I am really impressed about your OpenCL darknet fork. I have tried several OpenCL implementations including implementations from OpenCV (Master) and the Halide project. Most solutions were slow or had other hardware issues.

I tested your version of darknet with a NVIDIA 1070 and a AMD RX580. It works well on the NVIDIA GPU, but fails with several errors on the AMD.

[code]

Any ideas w

[2018-08-31 11:33] r0l1 commented on #1
Great. Removing `-cl-kernel-arg-info` fixed the issue. Can we apply an upstream fix?

[2018-08-31 11:41] sowson commented on #1
Done! Thank you very much!

[2018-08-31 11:43] #1 closed

[2018-08-31 14:43] r0l1 opened #2 "Slow Perfomance on Mali-T628"
I just tested this darknet version on an Mali-T628 GPU (ODroid XU4). It should be capable to reach 122 GFLOPS.

[code]
I tested the yolov3-tiny network and the stats are as following:
- first iteration: 14.11 seconds
- second iteration: 7.29 seconds.
- 1~2 second if running on the CPU

Any hints? Do you have any benchmark results for the RaspberryPi?
Thanks!

[2018-08-31 15:19] sowson commented on #2
@r0l1  You may try to check BENCHMARK=1 in Makefile rebuild and test but it produces a lot of stats, however, there are showing what is slow and you/we may fix it. You may attach results of output in txt file here to analyze. The thing is that if you build with RPI=1 I am using naive gemm_gpu version instead of this from clBLAS to change that you may look in the code for RPI definition for pre-pro

[2018-08-31 16:03] r0l1 commented on #2
Thanks for the fast response. I didn't build with RPI enabled. I patched the Makefile and removed the `-mfpmath=sse`.

## Makefile
[code]

## Benchmark Results

### First Iteration
[code]

### Second Iteration
[code]

[2018-08-31 16:06] r0l1 commented on #2
I just enabled RPI in  the Makefile and it is slighlty faster:

[code]

[2018-08-31 16:11] sowson commented on #2
There is in the "yolo_layer.c" file following code in lines 364-167:

    if(!net.train || l.onlyforward){
        opencl_pull_array(l.output_gpu, l.output, l.batch*l.outputs);
        return;
    }

You may:

    if(!net.train || l.onlyforward){
        //opencl_pull_array(l.output_gpu, l.output, l.batch*l.outputs);
        return;
    }

The pull is done anyway in the network.c and the functiona

[2018-08-31 16:32] r0l1 commented on #2
Hmm, there is not a big difference. If I understand it right, the bottleneck is the link between CPU and GPU?

[code]

[2018-08-31 16:40] sowson commented on #2
@r0l1 the last value in each line is the time an issue is when you copy between VRAM and RAM. Take a look at the last line. On the good and fast PC, it can be 0 and you have 32873 on the pull memory from VRAM to RAM. :)

opencl_pull_array	152cf00	32873

Thanks!

[2018-08-31 16:42] sowson commented on #2
@r0l1  And how about RPI=1 ?

[2018-08-31 16:52] r0l1 commented on #2
@sowson Understood. `32873` clock ticks are quite a lot... I hoped that I could reach at least 1fps for a video stream analysis... The folks at the [ODroid forum](https://forum.odroid.com/viewtopic.php?f=95&t=28177#p203149) reached 3fps with another approach.

### RPI
[code]

[2018-08-31 17:08] sowson commented on #2
@r0l1 I am studying now https://rocm-documentation.readthedocs.io/en/latest/Programming_Guides/Opencl-optimization.html and interesting is the "1.3.4.1 Zero Copy Memory Objects" part, will see what I can do with it.

[2018-08-31 17:12] r0l1 commented on #2
Sounds great! I'll have a detailed look at the document this weekend. Maybe I can help...

[2018-08-31 17:53] sowson commented on #2
I tried this mem map but the perf seems to be the same... maybe a good start point for you? :).
[clMemMap.patch.txt](https://github.com/sowson/darknet/files/2341053/clMemMap.patch.txt)
Thx!

[2018-08-31 17:56] sowson commented on #2
Maybe a good start point for you..?
[MemMap.patch.txt](https://github.com/sowson/darknet/files/2341062/MemMap.patch.txt)
 ;-).

Thx!

[2018-08-31 18:13] r0l1 commented on #2
That was fast! Thanks! Sadly this didn't make any difference. It was worth a try.
I'll test one more thing and if this doesn't succeed, then this device might not be suitable for yolo...

[code]

[2018-08-31 19:09] r0l1 commented on #2
Looking at the [jevoisinc camera module](https://www.jevoisinc.com/), which has a very similar GPU, I can't understand, how they manage to get this insane framerate ^^

[2018-08-31 20:17] PeterQuinn925 commented on #2
Jevois uses  darknet-NNPACK. I think it's https://github.com/digitalbrain79/darknet-nnpack.

I get about 1 fps with darknet/yolo, which I don't think is insane.

[2018-08-31 20:56] sowson commented on #2
Have you got any idea what may be wrong in this patch? The first patch was not correct because of it not obtain mapped pointer, right? But now the memcpy function should be enough, right? Or I am totally wrong? :). I tried to use it for the first time.
[MemMapIssue.patch.txt](https://github.com/sowson/darknet/files/2341554/MemMapIssue.patch.txt)
Thx!

[2018-08-31 22:48] sowson commented on #2
That is the best I can do. I am testing it working now before committing to the repo. It is not as fast as I expected.
[MemMapTest.patch.txt](https://github.com/sowson/darknet/files/2341811/MemMapTest.patch.txt)
Thx!

[2018-09-01 12:27] sowson commented on #2
After careful testing, I put into repo the last commit based on the patch. It turns out that now training stability is much better. I think this is all I can do on this issue at least for now.

[2018-09-02 11:50] r0l1 commented on #2
@PeterQuinn925 They made all sorts of statements on their website:

I did expect, that YOLO would run with a similar good performance. However after digging into the source code i found following statement ([Source](https://github.com/jevois/jevoisbase/blob/81d1e4a25927ce19369eabd8367403f36021db31/src/Modules/DarknetYOLO/DarknetYOLO.C#L42)):

@sowson Thank you for all your efforts! Right now I don

[2018-09-06 12:13] prnvjb commented on #2
Hi everyone,
How about implementing opencl +  nnpack variant for this? I think, hopefully, increase fps atleast on opencl supported SoCs.

[2018-09-11 00:07] r0l1 commented on #2
@sowson just tested the new source on the ODroid. Sadly there are no improvements. Thanks for your support! Please feel free to close this issue.

[2018-09-11 03:17] #2 closed

[2018-10-22 16:59] sharived opened #3 "Crash when resizing during training"
I have tried training a few different yolov3 models without any success.  When trying to train VOC or tiny coco model I crash when the resizing is done in train_detector.  The crash in in opencl_push_int_array() with an error from clEnqueueMapBuffer() of CL_INVALID_COMMAND_QUEUE.  I can get a model with the coco cfg file, however when testing it the results are incorrect (lots of high probability

[2018-10-26 16:09] sowson commented on #3
Thank you very much for the patch I have just applied it to my local repository and let me test it carefully and go back to you with results. I am using on macOS Mojave 10.14 and AMD 570 4GB eGPU. Thanks a lot!

[2018-11-10 16:53] sowson commented on #3
OK, you may try it now by "git pull". Thanks!

[2018-12-12 06:36] sowson commented on #3
I tested carefully and now a training should be fine from the memory management perspective. Please confirm and if it is true we may close this issue. Please keep in mind this post about NVIDIA GPUs and OpenCL https://devtalk.nvidia.com/default/topic/992502/why-is-cl_device_max_mem_alloc_size-never-larger-than-25-of-cl_device_global_mem_size-only-on-nvidia-/ With the NVIDIA GPU you may change in n

[2018-12-12 21:08] sharived commented on #3
Thanks @sowson - Unfortunately I am still having issues.  I'm trying to train Yolov3 with VOC and getting a seg fault.  This seems to be happening prior to the next resize, so it is probably something different.  Could be my configs are wrong or something else with my data - I get the same crash if I run with CPU.  The good news is I haven't seen the original CL errors.  As I am currently not usin

[2018-12-31 10:00] wkoszek opened #4 "Link to article missing"
Thanks for doing work on this.

It'd be great if we had a short README here wrt. how to build/test your project.

Link to this: https://codingbytodesign.net/2018/05/26/darknet-training/ could be helpful, alternatively.

[2018-12-31 10:12] wkoszek opened #5 "clrng doesn't seem to exist in homebrew ?"
I'm using the latest MacOS El Captain. I have the newest Homebrew too.

[code]

^^^ there doesn't seem to exist. Did you have to add additional Homebrew tap to get it?

BTW: maybe it's related:

The directory where the SDK links is supposed to be doesn't have the .sdk directory at all.
 I've made a symlink anyway, but could you maybe show me the content of your directory on Mac?

[code]

Feedback

[2018-12-31 12:18] sowson commented on #4
Done :D.

[2018-12-31 12:20] sowson commented on #5
Sorry I am not sure on this one... I am using at least High Sierra because of eGPU I have... maybe some other experienced macOS user can help on this?

[2018-12-31 12:38] sowson opened #6 "NVIDIA OpenCL OUT of RESOURCES Issue"
Hi, maybe you know why on NVIDIA this engine faces OOR issue? Is there specific for NVIDIA OpenCL that it not release correctly GPU mem registers?

[2019-01-02 07:40] sowson commented on #6
Sorry by that but, I rolled back the project a little bit now it works nicely with macOS+AMD for sure. NVIDIA on Linux not necessarily has to be my priority because on that spec original darknet works fine.

[2019-01-03 08:47] wkoszek commented on #5
@sowson So for you this brew command just worked? Can you paste the result of `brew tap` here?

[2019-01-03 08:48] wkoszek commented on #4
@sowson Thanks. Let's close this issue.

[2019-01-03 08:48] #4 closed

[2019-01-04 01:58] acrogenesis commented on #5
I'm also having this problem, couldn't find anywhere a brew tap with clrng

[2019-01-04 02:18] acrogenesis opened #7 "Can't build requires xcode-beta path"
When I'm running `cmake --build build` I get this message:

[code]

OpenCL.framework does exist on Xcode.app, I already tried running `sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer` but after rebuilding it keeps looking for xcode-beta.app

[2019-01-04 02:54] acrogenesis commented on #7
I solved that problem by duplication my Xcode.app to Xcode-beta.app 😅
But now I'm getting this error:
[code]
I tried using opencv and opencv@2 (linking and unlinking) but I get the same error

[2019-01-04 06:51] sowson commented on #5
Please do not worry about this one package, it looks like it not obligatory anymore.

[2019-01-04 07:17] sowson commented on #7
I cleaned up brew (to be on the same page with you) by:
brew remove --force $(brew list) --ignore-dependencies
brew cleanup

Then I did:
brew install opencv
brew install libomp
brew install clblas
brew install clfft
brew install cmake
brew install wget

And also:
sudo nano /usr/local/Cellar//clblas/2.12/lib/cmake/clBLAS/clBLASTargets-release.cmake

Where I changed "Xcode-beta.app" text to "Xcode.a

[2019-01-04 07:19] sowson commented on #5
I updated the blog description about this to not use this clrng anymore.

[2019-01-04 07:22] wkoszek commented on #5
@sowson I feel like the right way we could attack this is to hook your project to the CI server. Travis-Ci supports both Linux and macOS.

[2019-01-04 16:03] acrogenesis commented on #7
Thanks @sowson !!
I was able to compile it now, and tested it with `./darknet detect cfg/yolov3.cfg yolov3.weights data/dog.jpg -gpus 0,1`
It ran with both GPUs Intel(R) HD Graphics 630 and AMD Radeon Pro 560 Compute Engine on my 2017 mac 👍
`data/dog.jpg: Predicted in 4.388114 seconds.`

[2019-01-04 16:03] #7 closed

[2019-01-08 00:16] acrogenesis opened #8 "gemm_gpu: clblasSgemm failed. Errorcode: -1024"
I'm getting this issue several times while training, not sure why.

[2019-01-08 06:03] sowson commented on #8
As far as I know, you have 2 GPUs and 2nd is "stronger", so please try to use "-i 1" not "-gpus 0,1" for both training and compute. Thanks :).

It is hard to find them so I post them here, means error codes of clblasSgemm:
clblasSuccess = clffi.CL_SUCCESS
clblasInvalidValue = clffi.CL_INVALID_VALUE
clblasInvalidCommandQueue = clffi.CL_INVALID_COMMAND_QUEUE
clblasInvalidContext = clffi.CL_INVALID_C

[2019-01-10 15:42] acrogenesis opened #9 "opencl_load: could not compile. error: CL_UNKNOWN_ERROR"
Hey sorry to bother you again, I´m trying to setup darknet on a Hackintosh.
The compile went great but when testing with: `./darknet detect cfg/yolov3.cfg yolov3.weights data/dog.jpg`

But I get this error:
[code]

[2019-01-11 18:00] sowson commented on #9
In the "src/opencl.h" file lines 20-30 may be interested in you :-). Try to comment them out and recompile. Let me know how it works? Thanks!

[2019-01-12 01:32] acrogenesis commented on #9
Hey I commented them ran `rm darknet` and `mkdir build; cmake -Bbuild -H.; cd build; make; cd ..; cp build/darknet .; rm -r build `

But I get the same error.

[2019-01-12 09:06] sowson commented on #9
hmm, maybe you should instead of enable keywords put in this section disable keywords... but I am only guessing, I am not 100% sure.

[2019-01-26 14:43] sowson commented on #9
I put a header for opencl code in opencl.c lines 461-473 you can check them, hope that fix an issue.

[2019-01-26 14:44] sowson opened #10 "Could not train Yolo1, Yolo2, Yolo3 models, loss not going down"
I already fix that issue in the latest commit and it should be fine now :D. Thanks!

[2019-01-26 21:56] sowson commented on #10
tested and works :)

[2019-01-26 21:56] #10 closed

[2019-01-27 10:34] #6 closed

[2019-02-27 15:15] Shah-imran opened #11 "Coun't Predict yolov3 -- opencl error: CL_INVALID_KERNEL"
It didn't have any issues while compiling. But when i run this command - ./darknet detect cfg/yolov3-tiny.cfg yolov3-tiny.weights data/dog.jpg         command line output is as follows.

Device ID: 0
Device name: Intel(R) HD Graphics IvyBridge M GT2
Device vendor: Intel
Device opencl availability: OpenCL 1.2 beignet 1.1.1
Device opencl used: 1.1.1
Device double precision: YES
Device max group size

[2019-03-02 07:50] sowson commented on #11
Hi, try to comment out line 508 in the "src/opencl.c" file. Let us know is that help? Thanks!

[2019-04-28 13:05] sowson commented on #3
Hi @sharived I found what was wrong and now I am testing on -gpus 0,1 on 2 TitanXp (no need to enable GPU_MULTI in Makefile) :D so far I got 2700 training steps on Yolo2 no errors, of course, it is on latest commit, enjoy! :D

[2019-04-28 13:05] #3 closed

[2019-05-17 04:50] yaoanderson opened #12 "Please kindly help us about Not convergent network"
Hi sowson,
![image](https://user-images.githubusercontent.com/4134275/57903593-4db0a200-78a1-11e9-8c0b-c6c230b8cbf6.png)
We used your darknet network which running in our Macbook Pro Opencl, but so weird about our training based on your code, and it seems to be Obj: 0.500000, No Obj: 0.500000 all the time for hundreds circle training. And training is not convergent all the time.
Our data is from h

[2019-05-20 13:03] yaoanderson commented on #12
![image](https://user-images.githubusercontent.com/4134275/58023496-80c59080-7b42-11e9-8036-54ac95281b8b.png)
why no convergent for above data ?

[2019-05-23 22:51] sowson commented on #12
@yaoanderson thank you very much for this issue... please git pull to get few changes I found thanks to your issue... and then I would recommend burn_in=10 not 1000... and please let me know if that is better :D... I tested and it should be :D. thanks again!

[2019-05-24 00:11] yaoanderson commented on #12
thanks so much sowson, I will try now and give your feedback for this problem.

[2019-05-24 00:33] yaoanderson commented on #12
Hi sowson,

I continue to train my network by using then newest code (git pull and cmake and make) and burn_in=10 now.
Before updating:
![image](https://user-images.githubusercontent.com/4134275/58294589-7be03580-7dfd-11e9-9a06-799d3deb47f5.png)
After updating:
![image](https://user-images.githubusercontent.com/4134275/58294599-8e5a6f00-7dfd-11e9-813b-629d22ed9fa2.png)
It seems learning rate is ex

[2019-05-24 05:23] yaoanderson commented on #12
Hi @sowson,
It seems that new code is convergent now, perfect !!!
I have another question: we train network based on opencl but not cuda, but it looks like so slow, is it right ? ( cuda > almost 47 * opencl )

your code based on opencl:
![image](https://user-images.githubusercontent.com/4134275/58304445-df328d80-7e26-11e9-9c60-15ae2c58ab52.png)
cuda code:
![image](https://user-images.githubusercon

[2019-05-24 05:34] sowson commented on #12
On my DreamPC it is not so, slow :D...
![Screen 2019-05-24 07-19-44](https://user-images.githubusercontent.com/33941184/58304850-4dab2780-7df6-11e9-8200-2cfd319d0851.png)

[2019-05-24 06:36] yaoanderson commented on #12
This is my PC hardware config.
![image](https://user-images.githubusercontent.com/4134275/58307323-e2327b80-7e30-11e9-9821-0a2de4f4df13.png)
I train my network use cmd without any --gpu parameter: sudo ./darknet detector train cfg/nfpa.data cfg/yolov2-nfpa.cfg backup/yolov2-nfpa_10.weights

Is it different from your PC ? Do you have any idea about my PC or run cmd ?

[2019-05-24 06:38] sowson commented on #12
wow! :D check this out: add **-i 1** (index of your gpu 0 is intel, 1 is radeon) :D
sudo ./darknet detector train cfg/nfpa.data cfg/yolov2-nfpa.cfg backup/yolov2-nfpa_10.weights **-i 1**

[2019-05-24 07:03] sowson commented on #12
Btw, I do not know why less error not going as less as in CUDA version but after 1200 rounds I have...
![Screen 2019-05-24 09-00-14](https://user-images.githubusercontent.com/33941184/58308712-a2ed3600-7e02-11e9-9a07-f497c8f9bca2.png)
Thanks again for this issue, it helped me in development a lot! 👍

[2019-05-24 07:40] yaoanderson commented on #12
The default option is to use 0 intel ? right ?

[2019-05-24 07:49] yaoanderson commented on #12
@sowson  Another questions:
1. How about your anchors value ? I am not sure how to generate this value which is better for our training, Do you have use the default value of yolov2-voc.cfg (anchors =  1.3221, 1.73145, 3.19275, 4.00944, 5.05587, 8.09892, 9.47112, 4.84053, 11.2364, 10.0071), and I have generate these number by using kmeans.py which scale * 416 (the image width=height size), so I get

[2019-05-24 07:50] yaoanderson commented on #12
Thanks so much sowson. perfect your case with screenshot, very nice vivid. :)

[2019-05-24 08:03] sowson commented on #12
That is correct.

[2019-05-24 08:04] sowson commented on #12
I wish I knew what anchors value means :D

[2019-05-24 10:09] yaoanderson commented on #12
We can find one item "anchors" under [region] in yolov2-xx.cfg file, and I mean this one. So how can I set it ?

[2019-05-24 13:51] yaoanderson commented on #12
Hi @sowson I solve it, yolov2 set < 13 is ok. Very nice thanks so much for your help. :)
![image](https://user-images.githubusercontent.com/4134275/58332581-1aa47a80-7e6e-11e9-8b33-59ee6fd17f5c.png)

[2019-05-24 13:54] #12 closed

[2019-05-25 01:38] yaoanderson opened #13 "MultiGPU - Crash when training"
Hi @sowson ,
I found sometimes the program will crash when training my network, but I am not sure why, Have you any idea about my issue ?
![image](https://user-images.githubusercontent.com/4134275/58363008-b961c300-7ed0-11e9-8105-41e7d8a42089.png)

[2019-05-25 01:43] yaoanderson commented on #13
another question:
I see you have mentioned "-gpus 0,1" parameter in another crash issue, what is the difference between "-gpus 0,1" and "-i 1" and how can I use them ?

[2019-05-25 06:37] sowson commented on #13
Hi, this is known issue the thing is you have to have identical GPUs and then it works :D. The nature of the problem is that the OpenCL queue is only one and it works with multiple GPUs only when kernels for devices are compiled in exactly in the same way. Then and only then it works! 🗡

See my DreamPC setup:
<img width="1440" alt="Screenshot 2019-05-25 at 08 35 06" src="https://user-images.github

[2019-05-25 07:25] yaoanderson commented on #13
Sorry I have confused and not understand why it is not possible what you request on your HW yet.

[2019-05-25 07:37] sowson commented on #13
Hi, it is possible when you have 2+ exactly the same GPUs. HW - hardware I am mean. Thanks!

[2019-05-25 08:01] yaoanderson commented on #13
I got it thanks sowson.

[2019-05-25 08:10] yaoanderson opened #14 "How my network can be convergent quickly ?"
Hi @sowson ,

I have trained my network based on issue "Please kindly help us about not convergent network", after 412 rounds the "obj" still keep on one low value (0.00xxx), so how can I make it convergent quickly ? And I see you have trained this network before, how many round did your network can be convergent to < 5.0 avg ? Thanks
![image](https://user-images.githubusercontent.com/4134275/5836

[2019-05-25 08:17] yaoanderson commented on #13
For my crash issue ?

[2019-05-25 08:18] sowson commented on #13
Before we Close... there is one more thing... I was not 100% right, you may use in Makefile or CMakeLists.txt switch that allows you use MULTI_GPU (that is the switch name), and than (after fix I just made) you will be able to really run MlutiGPU. But this disabling sgemm implementationn from clBLAS because those one is broken for access by many devices the same time. Instead of that I wrote my ow

[2019-05-25 08:27] yaoanderson commented on #14
I just want to confirm I am on the right way, maybe I need to train it > 1000 rounds first, then to check my issue is existing or not, close this issue now.

[2019-05-25 09:27] sowson opened #15 "CLBlast Support"
If someone is interested :D. But keep in mind it not supports MultiGPU because CLBlast is also like clBLAS not Thread-Safe. Sorry :D.

[clblast.path.txt](https://github.com/sowson/darknet/files/3219261/clblast.path.txt)

Thanks!

[2019-05-25 15:10] yaoanderson commented on #13
hi @sowson
I do not want to train my network by using default 0 intel gpu because it is too slow, but sometimes training will crash when I use -i 1 amd 4GB gpu, so please help me about this issue, or can I avoid this crash via some configuration or there is any other workaround ? My target is to train fast with my amd gpu without crash, please help me thanks

[2019-05-26 00:50] yaoanderson commented on #14
After 750 rounds training I found obj value still < 0.00xxx, is there any thing wrong ? Could you help us about this slow convergent issue ? @sowson
![image](https://user-images.githubusercontent.com/4134275/58376017-22aa0a80-7f93-11e9-8dc0-95ed4f417117.png)

[2019-05-27 11:09] sowson commented on #13
I tired to address this with 2 things, first some OpenCL setup in this project and second is https://github.com/sowson/clBLAS that is MultiGPU ready for this project. I even put in place a pull request. You may update source code I just pushed and then you may compile on your macOS mention clBLAS then it should improve a stability not only for multi GPU but overall. Thanks!

[2019-05-27 11:12] sowson commented on #14
I need to think about it more... the thing is that trained CNN works even if loss not showing this. I compared many times original project and this fork but do not see any issue with the loss calculation... Thanks for this challenge, I try to help you as well. Please give me some time to figured it out.

[2019-05-27 13:28] JoeCool90 opened #16 "Avg loss straight to zero"
Hi, thanks for doing this opencl fork.  I've got further on getting things working for my RX 580 than others.

I needed to do sudo ldconfig to get it to run, and then needed to put:

*output = clLinkProgram(opencl_contexts[opencl_device_id_t], opencl_device_ct_t, opencl_devices, "", 1, prog, NULL, NULL, &clErr);

in opencl.c

I'm now to train on the voc data set, following AlexeyAB's tutorial.  Th

[2019-05-27 13:32] yaoanderson commented on #13
ok, I will try thanks so much sowson

[2019-05-27 13:41] yaoanderson commented on #14
Thank you so much sowson, I expect your feedback any time.
I tried:
learning rate 0.001, 0.0001
batch size and sups: 64/8, 64/16, 32/8
burnin: 0
random:1, 0
anchors: voc default, from my kmean
....
But any combination works bad based on your framework, all the avg loss just can down to about 10, so this is my case, help me please

[2019-05-28 05:26] yaoanderson commented on #13
sudo cmake and sudo make / install in clBLAS/src success:
![image](https://user-images.githubusercontent.com/4134275/58452784-313b2200-814b-11e9-9f35-a8038b93b9c9.png)
![image](https://user-images.githubusercontent.com/4134275/58452820-5334a480-814b-11e9-8420-5706a7fce443.png)

Then I remake my darknet project success:
![image](https://user-images.githubusercontent.com/4134275/58452899-b0305a80-81

[2019-05-29 21:45] JoeCool90 commented on #16
Oops, I was looking at the rate column.  Don't know if 0.0000 is a problem but obviously not what I was thinking.

[2019-05-30 19:52] sowson commented on #16
Hi @JoeCool90 thanks, I am still looking for a solution why loss error not going as far low as on the CUDA version... it is harder to find then I expected. What is the result after 100 or 1000 steps? Is it going down? That is Yolo3 Training am I right? Thanks!

[2019-05-30 23:10] JoeCool90 commented on #16
I only tested to the yolo3 on voc dataset for a bit, but now I have switched to a custom training set (yolov3).  So far, after 857 iterations it has come steadily down to under 1.0.  This has taken nearly 24hrs on a gtx580 with one class.  Not sure how that compares, but so far it seems to be working.

[2019-05-30 23:48] yaoanderson commented on #16
@JoeCool90, could you please upload your yolov3.cfg based on your training, and i can not train my network under 1.0 loss, thanks.

[2019-05-30 23:50] yaoanderson commented on #14
hi @sowson, is there any update for your research?

[2019-05-31 00:17] yaoanderson commented on #13
This happened sometimes, and it is second priority issue, please help solve another loss value issue first. Thanks sowson

[2019-05-31 09:47] JoeCool90 commented on #16
Attached (was cfg, but needed to change to txt to upload).

It follows the instructions on [https://github.com/AlexeyAB/darknet](url) including the bit about anchors.  If you're getting near to 1.0 then maybe that's as good as you're going to get.  Apparently up to 3.0 may be obtained if the model is large/difficult.

[yolo-obj.txt](https://github.com/sowson/darknet/files/3240716/yolo-obj.txt)

[2019-05-31 09:48] yaoanderson commented on #16
@JoeCool90 Thanks.

[2019-05-31 10:29] JoeCool90 commented on #16
So far this is just a test.  The learning rate was in the default yolov3 AlexeyAB file (and I presume the others?), I haven't touched it.

The link above will tell you how to do the anchors, you basically run a programme and it coughs them out.  See towards the bottom in the tips section.

The random=0 thing was probably when I was experiencing crashes with other forks and trying a few suggestions

[2019-06-01 02:42] yaoanderson commented on #16
@JoeCool90 But AlexeyAB/darknet is not based on opencl ?! We discussed all based on sowson's darknet, right ?

[2019-06-01 11:50] JoeCool90 commented on #16
AlexeyAB has the best (kinda only) tutorial.  But all the forks, from the original pjreddie, to AlexeyAB, to Sowson, etc... should produce the same results more or less.  The operations and computation should be the same, just different hardware compatibility

[2019-06-01 12:51] yaoanderson commented on #16
@joecool90 you are right. sowson have supported opengl, so I choose it, but so far I can not get result what I want, and I am waiting for the research and feedback from sowson.

[2019-06-01 16:35] JoeCool90 commented on #16
I've just finished my first training (2000 iterations).  Unfortunately the results are nonsense.  I'm going to have a look to see if I prepared my data wrong.  Otherwise, I'll try with the VOC dataset, and if that all works, not sure what the problem is.

[2019-06-01 18:49] JoeCool90 commented on #16
Just checked the data via another annotation tool and that was fine. Also tried the pre-trained coco weights and that worked.  So something messed up in my training.

[2019-06-02 06:39] sowson commented on #16
Hi, please check the fix I just committed for Loss Error Fix. Thanks! :D

[2019-06-02 14:35] yaoanderson commented on #16
@joeCool90 Is it working fine now ?  @sowson How about my question?

[2019-06-02 14:38] sowson commented on #16
@yaoanderson can you please remind me your question? Thanks!

[2019-06-02 14:38] JoeCool90 commented on #16
@yaoanderson  I'm running another training session.  I tried with random = 1 but the computer more or less seized up and then the programme crashed with several opencl memory errors.

[2019-06-02 14:42] sowson commented on #16
@JoeCool90 what errors you got? You may try to reduce the factor that is batch/subdivision values from batch=64 subdivisions=8 to for example batch=64 subdivisions=16 or batch=32 subdivisions=16 Thanks!

[2019-06-02 14:53] JoeCool90 commented on #16
Resizing
576
could create buffer on device. error: CL_MEM_OBJECT_ALLOCATION_FAILURE
could create buffer on device. error: CL_MEM_OBJECT_ALLOCATION_FAILURE
could create buffer on device. error: CL_MEM_OBJECT_ALLOCATION_FAILURE
could create buffer on device. error: CL_MEM_OBJECT_ALLOCATION_FAILURE
could create buffer on device. error: CL_MEM_OBJECT_ALLOCATION_FAILURE
could create buffer on device. e

[2019-06-02 15:03] sowson commented on #16
I am testing now batch=16 subdivisions=8 to check all changes I did and committed here. I have only batch / subdivisions = 8 and 8 is only possible and works also batch=32 subdivisions=16 when such factor is still 8 on my eGPU that is RX570 4GB. Hope that helps. How much memory @JoeCool90  you have?

[2019-06-02 15:06] yaoanderson commented on #16
@sowson About my open issue convergent slow or not issue

[2019-06-02 15:08] JoeCool90 commented on #16
@sowson I've got an RX580 8GB.  I'm trying batch=32, subdivisions=16
@yaoanderson Convergence seemed to be fine, although the final network didn't work.  Not sure what is considered fast.  It took 2.5 days to do 2000 iterations, although oddly it only saved up to 1000 and then the final weights

[2019-06-02 15:14] sowson commented on #16
Last time I remebered that AlexeyAB teaches that the last yolo kind layer should be commented out in the configuration file. There are 3 yolo layers in Yolo3 model. So maybe you should look on that. 8GB is good and enough I think. This is only a tip I am not 100% sure about it. I will try that as well soon, commented out in CFG the 3rd yolo entry. Thanks, maybe that will help you.

[2019-06-02 15:40] JoeCool90 commented on #16
I've just had a big re-read of the tips from AlexeyAB.  I can't find anything about commenting out the third layer, it keep mentioning it to be included.  However, there are quite a few subtle detailed points.  For example, I trying to detect a small object so I should have followed the tip about that.  Also, I didn't do the masks bit with the anchor points so I'll look at that again, along with e

[2019-06-02 19:25] sowson commented on #16
On my DreamPC
[yolov3-voc.cfg.txt](https://github.com/sowson/darknet/files/3245124/yolov3-voc.cfg.txt)
Step 300
![Zrzut ekranu z 2019-06-02 21-17-24](https://user-images.githubusercontent.com/33941184/58766254-92fcf100-857c-11e9-9c95-d3542e295031.png)
:-)... Tomorrow morning I will check how it goes after more than 1k iterations.
On Yolo2 it works like this...
![Zrzut ekranu z 2019-05-24 23-53-36]

[2019-06-02 19:34] sowson commented on #9
Please RE-TEST this issue with the latest code. Thanks!

[2019-06-02 19:34] sowson commented on #11
Please RE-TEST this issue with the latest code. Thanks!

[2019-06-02 19:35] sowson commented on #13
If no more issues here can we close this one and focus on the #16 instead? Thanks!

[2019-06-02 19:36] sowson commented on #14
Here you go...
[yolov2-n.cfg.txt](https://github.com/sowson/darknet/files/3245136/yolov2-n.cfg.txt)
Thanks!

[2019-06-02 19:37] sowson commented on #15
I tested and it does not support Intel GPU... do not like that! :D

[2019-06-02 19:37] #15 closed

[2019-06-03 00:23] yaoanderson commented on #13
ok,  let me focus on another ticket.

[2019-06-03 00:23] #13 closed

[2019-06-03 00:25] yaoanderson commented on #14
thanks so much sowson.
How about your training progress and some change checkpoints as I mentioned above ?

[2019-06-03 01:24] yaoanderson commented on #14
@sowson I have seen your yolov2.txt, but I found maybe [region]
anchors = 6,14, 70,82, 176,190, 291,375, 382,377 is not expected, and I have searched articles about anchors in yolov2 which suggest to value from 0.0 to 13.0, but yours is not, so can you train your data to get good result ? I just double confirm with you about my confuse. Thank you.

[2019-06-03 02:35] sowson commented on #16
On 1100 steps I have.
![Zrzut ekranu z 2019-06-03 04-22-23](https://user-images.githubusercontent.com/33941184/58772341-bba2dc00-85b8-11e9-8498-3fe8cbcad576.png)
And I tested how it works?:
![Zrzut ekranu z 2019-06-03 04-28-17](https://user-images.githubusercontent.com/33941184/58772354-cfe6d900-85b8-11e9-874f-24bcbb3dfd39.png)
Looks like a little more about 2000 iterations are needed.
Thanks!
P.S

[2019-06-03 02:51] sowson commented on #14
This is default yolov3-voc.cfg from the original author and this repository as well. I only changed
from:
learning_rate=0.001
burn_in=1000
to:
learning_rate=0.0001
burn_in=100
Of course, on top of the file, training part and testing part is switched to train.
Thanks, and enjoy!

[2019-06-03 06:14] sowson commented on #16
After 1500 iterations:
![Zrzut ekranu z 2019-06-03 08-10-09](https://user-images.githubusercontent.com/33941184/58779927-9d000d80-85d7-11e9-8df9-238271c44b49.png)
I think it needs some more training... at least 2000 iterations.
Thanks!

[2019-06-03 06:21] yaoanderson commented on #16
@sowson  I am curious How about your training status about 400 rounds and 800 rounds as below data in yolov2 ?
![image](https://user-images.githubusercontent.com/4134275/58780130-976feb00-860a-11e9-954b-f64de07f3d66.png)

[2019-06-03 07:53] sowson commented on #16
I have very busy season right now at work, I try to help you, but probably on the weekend. Earlier there is no chance to play with the C and darknet :D. Maybe someone else can help you here before that?

[2019-06-03 11:46] JoeCool90 commented on #16
I'm currently trying another run so won't be able to add anything until that finishes.

[2019-06-03 13:27] yaoanderson commented on #14
Fix, Thanks so much sowson !

[2019-06-03 13:27] #14 closed

[2019-06-03 18:47] acrogenesis commented on #9
I'm sorry @sowson I don't have that PC now :\.

[2019-06-04 10:04] sowson commented on #9
so, can we close for now?

[2019-06-04 12:27] acrogenesis commented on #9
Sure

[2019-06-04 12:27] #9 closed

[2019-06-07 16:03] cuongdev opened #17 "How to complie libdarknet.so?"
I got this error when run darknet.py
`OSError: dlopen(libdarknet.so, 10): image not found`
Please kindly help me.

[2019-06-07 23:33] yaoanderson commented on #17
Please use absolute image path, not relative path in configuration :)

[2019-06-08 02:29] cuongdev commented on #17
Where is the path of that find? I can’t find it in project when success compiling

[2019-06-08 05:01] sowson commented on #17
The "pwd" command can tell you the absolute path where you compiled the darknet..? Can you put command you used to compile?

the relative path is for example:
libdarknet.so
the absolute path is for example:
/Users/piotrsowa/Projects/github/darknet/libdarknet.so

Hope that helps! Thanks!

[2019-06-08 05:08] cuongdev commented on #17
I used these command
`git clone https://github.com/sowson/darknet.git
cd darknet; mkdir build; cmake -Bbuild -H.; cd build; make; cd ..; cp build/darknet .; rm -r build`

before running those commands. I ran these commands:
`/usr/bin/ruby -e “$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)”
brew install opencv@2
brew link –force opencv@2
brew install libomp
brew ins

[2019-06-08 05:13] sowson commented on #17
ok so... in the
`mkdir build; cmake -Bbuild -H.; cd build; make; cd ..; cp build/darknet .; rm -r build`
the issue is last command:
`rm -r build`
because in build folder there is darknet binary and your missing lib/file as well...
do please do not remove build, by just:
`mkdir build; cmake -Bbuild -H.; cd build; make; cd ..; cp build/darknet .; cp build/libdarknet* .; rm -r build`
Thanks

[2019-06-08 05:24] cuongdev commented on #17
There's still no libdarknet.so :(

<img width="781" alt="Screen Shot 2019-06-08 at 12 23 40 PM" src="https://user-images.githubusercontent.com/11372981/59142422-4b48f000-89e8-11e9-8fbd-a19dc30d6a39.png">

[2019-06-08 05:35] sowson commented on #17
on macOS there is no so lib only on Linux... on macos you have "a"(static lib) and "dynlib" (dynamic one)... so change to the one of them in your python script :D. I am not sure which one... sorry I do not know the python at all ;/.

[2019-06-08 05:37] cuongdev commented on #17
I will try to implement using static lib. Thank you so much for helping me.

[2019-06-08 05:39] yaoanderson commented on #17
Hi @cuongdev,
I can share you mine in Mac  : )
[libdarknet.so txt](https://github.com/sowson/darknet/files/3268225/libdarknet.so.txt)

[2019-06-08 05:46] cuongdev commented on #17
How did you compile that file?
I tried to use your file but it got some errors
<img width="781" alt="Screen Shot 2019-06-08 at 12 23 40 PM" src="https://user-images.githubusercontent.com/11372981/59142644-5cdfc700-89eb-11e9-801e-ac1d11c24412.png">

[2019-06-09 10:22] JoeCool90 commented on #16
I used smaller images for my training set, so that my targets were proportionally larger and now everything works!  Having some issues with the example python bindings but apart from that I'm happy.

[2019-06-09 13:12] sowson commented on #16
@JoeCool90 can you help with issue 17... shame to confess but I do not know the Python at all :/.

[2019-06-09 13:13] sowson commented on #16
Can you close this one issue if all works as expected? Thanks!

[2019-06-09 13:32] JoeCool90 commented on #16
Sorry, I'm only a beginner on Python and I don't go near Apple.  I can't get the python example working, I think there is a memory pointer issue.  I'm going to go back to c for a bit to see if that works.  Everything from the command line is now working

[2019-06-09 13:32] #16 closed

[2019-06-10 16:32] sowson commented on #11
Looks like nobody is interested this issue anymore....

[2019-06-10 16:32] #11 closed

[2019-06-10 16:35] sowson commented on #17
Did you try dynlib instead of so? I red about it and dynlib seams to be used on macOS... but in absolute path... let me know is that still an issue?

[2019-07-27 01:56] lyolve opened #18 "can't see Readme"
can't use youtube in china

[2019-08-01 12:11] yashhema opened #19 "Bounding box incorrect with tiny YOLO v3"
Hello, I ran a detection with a pretrained model with default tiny YOLO v3 . The input photo is of width 640 and length 320.
The detection was correct ie all objects were rightly detected but bounding boxes were wrong.
Can you please give me any suggestions, what can be the issue

[2019-08-02 08:55] sowson commented on #19
Hi @yashhema if you provide me detailed test method step by step I can double check all algorithms and try to help you best I can. Thanks!

[2019-08-02 08:56] sowson commented on #18
sorry by that, but 2 links below movie should works for you... that is the essence.

[2019-08-06 06:04] lyolve commented on #18
Thanks for your reply, I tried to use your code on RK3288, which using a Mali GPU, however I cannot 'make' it successfully, I checked the Makefile, and found 'cuda' path in it.

There is no 'cuda' in my /usr/local/
I tried to change the path to my path. I changed it to usr/lib64, followed by your comment —failed;
I thought maybe something missing in this folder: only have cmake, pkgconfig, libclBL

[2019-08-06 06:13] lyolve commented on #18
By the way, the system is Firefly Ubuntu

[2019-08-06 06:16] sowson commented on #18
Basically please edit Makefile and set OPENCV=0 and RPI=1

https://codingbytodesign.net/2019/02/02/darknet-in-opencl-on-asus-thinker-board-s/

[2019-08-11 10:26] #18 closed

[2019-08-13 11:18] saydulk opened #20 "crashes on android environment"
Project compiles but crashes when executing on Android environment. How find out why it is crashing and then fix it

[2019-08-13 19:59] sowson commented on #20
Is there gdb for Android that you may use and trap where is in compiled with -g flag mode project? Sorry I do not have an experience on Android yet. Thanks!

[2019-08-19 08:57] cyro666 opened #21 "OpenCV 4 support"
[code]

That's all the output I get. I'm running on the official AMD ROCm OpenCL implementation on Arch Linux. The card is RX590. I tested OpenCL with hashcat and it worked there.

EDIT: Also, I was trying to run a simple detector: `./darknet detector demo cfg/coco.data cfg/yolov3.cfg yolov3.weights vid1.mp4`

[2019-08-19 09:35] cyro666 commented on #21
I have now also tried with the official AMDGPU-PRO implementation. Not sure what's wrong here.

[2019-08-19 09:51] cyro666 commented on #21
Removing `-cl-kernel-arg-info` from clLinkProgram fixes the issue.

On an unrelated note, Yolov3 performance is slower than I expected... 0.7 fps. Is this normal?

[2019-08-19 19:18] sowson commented on #21
Thank you very much for this issue... have you tried to add "-i 0" switch? Please try. Btw, I removed this parameter in latest commit just now. Hope you figured out and share here. Thanks!

[2019-08-21 12:42] cyro666 commented on #21
Yes, I have tried the -i 0 switch. I have also tried to compile your clBLAS and enable multi-gpu, just to see what would happen (I only have 1 GPU anyways). The GPU utilization was now at 100%, but the performance was even worse. I also tried compiling your version of darknet from 31st August 2018 and the performance was identical to what I get now.

[2019-08-22 01:23] sowson commented on #21
Have no idea then... anyone?

[2019-08-22 11:37] cyro666 commented on #21
Can you tell me what sort of a Linux system you used to run this (OS and version)? I will try to replicate the setup to see if the issue is maybe in the compiler or library versions.

Also which graphics card are you using?

[2019-08-22 13:04] sowson commented on #21
See my blog comments thread.

[2019-08-23 09:11] cyro666 commented on #21
It looks like it might be a problem with the OpenCV version I was using. I was using OpenCV 2, because I compiled it for some other project and forgot about it.

Unfortunately, compiling with OpenCV 3 didn't work out well. It crashes because OpenCV 3 is pretty old and was using ffmpeg in "legacy way" and modern ffmpeg doesn't support that. Compiling some old version of ffmpeg wasn't on my bucket l

[2019-08-23 09:19] cyro666 commented on #21
It looks like someone made a patch for the original `darknet` implementation. Looks like some more things need to be changed, but as I said, I'm really not familiar with mixing C/C++.
https://github.com/pjreddie/darknet/pull/1348/files/795e5ac1ebee56dac1f792938a9698604e9e4638

[2019-08-23 11:25] cyro666 commented on #21
I managed to compile this on Ubuntu 18.04 which uses some sort of OpenCV version 3 and the result was the same... about 0.65fps. So OpenCV was not to blame. Would still be nice to have OpenCL 4 support.

There is obviously something wrong since you made it work on RX570, while I have an RX590. But I am all out of ideas. The only thing I could do is learn OpenCL myself and debug, but that would tak

[2019-08-23 12:46] sowson commented on #21
You know if this makes you happy you can do it on your own :D.... I am too lazy to do so :D.

[2019-08-26 13:20] #20 closed

[2020-01-27 10:22] pgarhwal opened #22 "Issue when creating the file at the _make_ command"
Hey, I have been running into an issue when I am creating the darknet executable file. I am on macOS Catalina. The python version is 3.7.6 . When I try to run the _make -j8_ command after running the _cmake_ command, I run into the following error.

<img width="1259" alt="Screenshot 2020-01-27 at 3 46 26 PM" src="https://user-images.githubusercontent.com/24452328/73166703-5e960080-411c-11ea-8873-8

[2020-01-27 10:39] sowson commented on #22
Hi, have you checked the https://codingbytodesign.net/2018/05/26/darknet-training/ macOS command sequence is provided there. I checked and it should works :D.

[2020-01-27 10:40] sowson commented on #22
btw, looks like you do not have OpenCV installed.

[2020-01-27 11:28] pgarhwal commented on #22
Hey,
I followed the steps provided in the link and managed to build darknet with no issues.

Thanks @sowson , I was worried about darknet not running on a Mac and was about to install VirtualBox to run it on another OS. I'll close the issue now, thanks again.

[2020-01-27 11:28] #22 closed

[2020-02-05 14:47] elsampsa opened #23 "segfault"
This is a bit esoteric question, but ..

I linked your branch of darknet against this one:

https://github.com/CNugteren/CLBlast

It compiles ok, but when running the darknet executable, I get a segfault.

System: Ubuntu 18.04 LTS with intel

Any comments?  Am I doing something that I shouldn't..?

[2020-02-05 14:53] elsampsa commented on #23
If you wan't to take a look, see [here](https://github.com/elsampsa/darknet-python/tree/opencl)

First I build using ```easy_build_clblast.bash``` & install the debian package

After that I do ```easy_build.bash```

There's something wrong in the resulting darknet executable (it appears into ext/sowsow_darknet/build_dir)

[the master branch of that repo works ok with the normal pjreddie darknet]

[2020-02-05 15:16] elsampsa commented on #23
Stupid me.. I was using inconsistent weights & config files (as usual).  The executable using that setup I just described runs ok.

[2020-02-05 15:16] #23 closed

[2020-02-14 06:00] pgarhwal opened #24 "Changing the name of the .txt file"
Hello @sowson, when I was trying to train a yolov3-tiny model, I ran into an error. The program couldn't open the file labels_19886_r270.txt.  When I checked the file, I found that I don't have a file by that name, instead I have one by the name images_19886_r270.txt, the same as the name of the jpg file.

Since I am not familiar with the code of darknet, can you tell what I can change to fix this

[2020-02-14 06:19] sowson commented on #24
Hi, training should be like that:

detector train yolov3-tiny.data yolov3-tiny.cfg yolov3-tiny.conv.15 -I 1

where missing in your case yolo3-tiny.data should be similar to this:

`classes= 20
train  = /home/pjreddie/data/voc/train.txt
valid  = /home/pjreddie/data/voc/2007_test.txt
names = data/voc.names
backup = backup`

[2020-02-14 07:14] pgarhwal commented on #24
Hi, I'm using a different .data file for my model, the  peoplecount.data file.

Here are the contents :-

classes = 1
train = /Users/Prakhar/Image_Processing_and_CV/Adappt/peoplecount_neural_network_2020-02-09_19-54-59_result_test_copy/peoplecount_train.txt
valid = /Users/Prakhar/Image_Processing_and_CV/Adappt/peoplecount_neural_network_2020-02-09_19-54-59_result_test_copy/peoplecount_valid.txt
na

[2020-02-14 07:25] sowson commented on #24
One more thing pls make sure you have Linux End of Line (EOL) in your text files and not Windows EOL, that is instead of "/n/r" you should have only "/n" at the end of txt files. One of the tool that can automatically change that is Notepad++ but you may use different. That is the only guest I have :-).

[2020-02-14 07:30] pgarhwal commented on #24
I'm using a MacBook, so I don't think I would be using Windows EOL. Could you point me to the function which reads the training.txt file, so I can check which function it calls??

I can go through the functions and check where the change is being made, hopefully. I double checked my image dataset, I have no filename starting with labels, so I think there is a function making the change.

Thanks fo

[2020-02-14 07:33] sowson commented on #24
I think all files are read by the code from src/data.c where is the function on the top named get_paths... is that help you?

[2020-02-14 07:41] sowson commented on #24
Also if you are in darknet directory you may run:

grep -Rn "labels" ./

to find that part in code ;-).

[2020-02-14 07:45] pgarhwal commented on #24
The error is on Line 222, 260 and 452 of src/data.c in the function fill_truth_swag, fill_truth_region and fill_truth_detection. Line 222 & 223 replace "images" and "JPEGImages" with "labels". Same with Lines 260 & 261 and 452 & 453.

Relevant part of code for function fill_truth_region
 `void fill_truth_swag(char *path, float *truth, int classes, int flip, float dx, float dy, float sx, float sy)

[2020-02-14 07:47] sowson commented on #24
or you may make a directory labels and:

`mv *.txt labels/`

what do you think?

[2020-02-14 07:50] pgarhwal commented on #24
The function is finding and replacing them, right. So the file name would still be wrong, and the code would not open the file
If I am not wrong,

`mv *.txt labels/`

would move all .txt files to a new directory labels, right??

[2020-02-14 07:55] sowson commented on #24
right it looks like in images folder you need to have only images and inside folder labels with all txt labels... so to make sure I checked on VOC example by:

`find ./ -type d`

It shows me:

.//VOCdevkit
.//VOCdevkit/VOC2007
.//VOCdevkit/VOC2007/ImageSets
.//VOCdevkit/VOC2007/ImageSets/Segmentation
.//VOCdevkit/VOC2007/ImageSets/Layout
.//VOCdevkit/VOC2007/ImageSets/Main
.//VOCdevkit/VOC2007/Seg

[2020-02-14 07:58] pgarhwal commented on #24
The error is also on lines 598, 599, 642 and 643.

Also, I have not been using VOC Dataset for training. I'm using a custom dataset. I'll move the labels and test both methods and get back to you.

Thanks for all the help.

[2020-02-14 07:59] sowson commented on #24
ok, happy training!

[2020-02-14 09:58] pgarhwal commented on #24
I changed the "labels" argument with the "images", "JPEGImages", "imgs" and "raw" wherever they were mentioned in the src/data.c . The find_replace() function is also used in detector.c, so I had to replace the strings over there as well. Now, the model is happily training.

It will take a while before it finishes and I can test the second method.

@sowson , should I close the issue or should I cl

[2020-02-14 12:55] sowson commented on #24
@pgarhwal regarding the close or not it is up to you, if it works it will be nice to people with similar issue in future ;-) Thank you!

[2020-02-15 08:41] #24 closed

[2020-03-03 12:33] hoaquocphan opened #25 "wrong dimensions from yolov3"
Hello All,

currently I import the yolov3.onnx model to onnx v1.1.0 but it have below issues:

there are 2 input, and the dimensions 2 and 3 of 2 inputs is always -1
input 1:
dim 2=-1
dim 3=-1
input 2:
dim 2=-1
dim 3=-1

when importing yolov2.onnx model to onnx v1.1.0, the dimensions is always as below:
dim 2=416
dim 3=416

I don't know what is "-1" mean, and how to show correct dimensions.
so Ple

[2020-03-03 12:35] hoaquocphan commented on #25
Hi Mrs @sowson
I'm a newbie in AI, so could you share me a example .cpp code to import yolov3 model on onnxruntime.

I have searched on GG but there are no any thing to apply
My project have deadline at end this week, so please help me.

Thanks

[2020-03-03 12:56] sowson commented on #25
hmm, I think I can help you, pls go to one of the closed issue: https://github.com/sowson/darknet-on-opencl/issues/12 and read it carefully, if you have more questions after that I will be happy to help you ;-). But I think this task will make you a little bit more convenient with your project! Thanks!

[2020-03-03 13:42] hoaquocphan commented on #25
Hi @sowson
Thanks for your reply.

I would like to give you some more detail about this:
+ I don't work with Yolo v2, I already created an .cpp file to port to onnxruntime
+ I port the model from onnx model https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/tiny_yolov3
not train it.
There are some sample Preprocessing,Postprocessing  steps in python code to port it, bu

[2020-03-03 17:34] sowson commented on #25
Hi, @hoaquocphan I am sorry I do not know how to help you with these tasks, anyone?

[2020-03-25 10:43] luvwinnie opened #26 "Any plan to make a Python Interface to use OpenCL?"
I really Impressed your work done on OpenCL Darknet fork! I have tried your fork and able to use AMD Radeon Pro 560 on my macbook pro 2017! Do you have any plan to make a python interface to use the AMD GPU?

[2020-03-25 11:17] luvwinnie commented on #26
I have tried to use the following to set gpu, but it seems like didn't work
[code]
set_gpu(1)

[2020-03-26 01:48] luvwinnie commented on #26
I'm not familiar with OpenCL , however, i have been able to use python do the inference, although the yolov3 model seems like not using AMD GPU @@, this is my [fork](https://github.com/luvwinnie/darknet/tree/macbook_opencl_branch).

[2020-03-27 20:31] sowson commented on #26
sorry to say, but I have not to know python at all :-( I will look on your fork soon, thanks for this issue!

[2020-03-29 20:46] sowson commented on #26
@luvwinnie Thank you! I saw your fork can you do it one more time by changing CMakeLists.txt and Makefile but in a generic way? I do not know python as I said but if you extend only CMake/Make files by adding not deleting it would be an honor if you pull request and contribute with me. Thanks! :-).

[2020-03-29 21:13] sowson commented on #26
@luvwinnie btw, did you tried set GPU to 0? 0 is the first GPU in your system. thanks!

[2020-03-31 15:01] luvwinnie commented on #26
@sowson thanks for viewing my fork! I will try to make a change with CMakeLists.txt and Makefile in the future and make a PR. I'm not familiar with CMake, it could take some time though. ^ ^;

With my macbook pro i have 2 gpus, index 0 is the Intel Graphics and index 1 is the Radeon.
The following code is the information show by the OpenCL.
[code]
I think i need to take some time to figure out wha

[2020-03-31 15:03] luvwinnie commented on #26
Maybe we should figure a way to confirm whether the Neural net is being loaded to GPU.

[2020-03-31 15:04] sowson commented on #26
no worries... take your time! :P.

[2020-03-31 15:20] luvwinnie commented on #26
I tried to print some debug information within the function opencl_set_device function, it seems like when every inference it printing some debug information...., not really get the timing that opencl_set_device is being invoked. Any idea of this?

[code]

[2020-03-31 16:21] sowson commented on #26
this is for multi-GPU only method to switch in different threads between GPUs :). You should not touch it at all :P.

[2020-04-04 09:21] devlakshmi opened #27 "Save model after 1000 iterations"
Hi @sowson ,
I want to save the model every 1000 iterations, now model gets saved in 100 th to 900 th iterations after that it is not. I didnt detector.c , pls guide me with this issue

[2020-04-04 11:30] sowson commented on #27
In the CFG file, you should have steps variable that you can change to do so... I hope it helps. Thanks for this issue! Any issue brings me some lesson, hope I will get more like this. ;-).

[2020-04-27 07:59] cenit opened #28 "rebase work"
Hi! Thanks for your wonderful work enabling OpenCL for darknet.
Any possibility that you rebase your work on the https://github.com/AlexeyAB/darknet fork? It is much more maintained, it will be (maybe) the reference darknet implementation now that the pjreddie original one points to that and also there is a huge chance that your work might be accepted upstream!

[2020-05-31 04:43] sowson commented on #28
I am sorry but I do not have time to do it... sorry.

[2020-05-31 04:43] #28 closed

[2020-05-31 04:45] sowson commented on #27
Look into the code in the examples/detector.c and change!

[2020-05-31 04:45] #27 closed

[2020-05-31 04:45] #17 closed

[2020-05-31 04:46] #19 closed

[2020-05-31 04:46] #26 closed

[2020-08-06 08:58] runaway opened #29 "YoloV4"
Can the project support YoloV4 training?

[2020-08-28 04:44] th1nk1ng opened #30 "error: Compiler frontend failed (error code 59)"
Hi, I was trying to train a classifier on CIFAR-10( https://pjreddie.com/darknet/train-cifar/). but i had a problem. I tried to compile a darknet on Odroid XU4(Mali T628). but I couldn't.
This is my error.

[code]
and this is option when i compiled.

[code]

I am not familiar with darkent code.
Can you tell what I can change to fix this?

Thanks for the help.

[2020-08-29 22:23] nguyentrong56 opened #31 "Error when compile on MacBook Pro 2019"
Hello,
I tried to run make but it give me this error :
ld: warning: directory not found for option '-L/usr/lib/x86_64-linux-gnu/'
ld: warning: directory not found for option '-L/usr/lib64'
ld: library not found for -lOpenCL
clang: fatal error: linker command failed with exit code 1 (use -v to see invocation)
make: *** [libdarknet.so] Error 1
Please advise
Thanks

[2020-09-01 08:42] hooping commented on #31
@nguyentrong56
Would you post your Makefile? It seems you changed the AMD=1 in the Makefile, right?
I am also working on Macbook Pro 2019.

Find the content below
"ifeq ($(AMD), 1)
COMMON+= -DGPU -DOPENCL
CFLAGS+= -DGPU -DOPENCL -I/usr/include/
**LDFLAGS+= -L/usr/lib/x86_64-linux-gnu/ -lOpenCL -lclBLAS**
LDFLAGS+= -L/usr/lib64
endif"

Change the lines in bold, there is no error, but not sure if it

[2020-09-01 08:52] hooping opened #32 "Issues Training on Macbook 2019"
Hello, @sowson  thanks for creating this project. It’s a great project!

I hit some issues and want to confirm how to train the YOLO v3 model on MacBook Pro 2019(With below Graphics: AMD Radeon Pro 5300M 4 GB and Intel UHD Graphics 630 1536 MB)

1. First I tried training without using AMD graphics, just in Makefile, change the GPU=1, without other changes. (It seems in this way, it’s using the Int

[2020-09-01 10:24] sowson commented on #32
Hello, just add "-i 1” (i is the index of GPU parameter, add at the end) to your command :D. Thanks! Now you are trying run with lack of memory “Device name: Intel(R) UHD Graphics 630” ;-).

[2020-09-01 10:38] sowson commented on #30
GPU_MULTI=1
OPENCV=0
OPENMP=0

[2020-09-01 10:38] sowson commented on #29
Not yet...

[2020-09-01 10:42] sowson commented on #31
# BREW
/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
# OpenCV2
brew install opencv@2
brew link --force opencv@2
# OpenCV3 (if you do not want OpenCV2)
brew install opencv@3
brew link --force opencv@3
# Rest Dependencies and Build (CMAKE!)
brew install libomp
brew install clblas
brew install clfft
brew install cmake
brew install wget
mkdir github

[2020-09-02 04:22] hooping commented on #32
@sowson Great!  it works now.  the training is going smoothly.  Thanks a lot.
Btw, do we have the performance comparison between training on AMD and Nvidia? including the training time and the precision/recall/map... I am verifying it by myself now, but just want also check with you on this, thanks!

[2020-09-02 05:04] sowson commented on #32
Perf Measurement you can find on my preprint in the very detailed description at https://www.preprints.org/manuscript/202007.0506/v1 If you wanted to check on your own please make following structure of directories.

$HOME/github/sowson/darknet
$HOME/github/sowson/darknet-benchmark
$HOME/github/pjreddie/darknet
$HOME/github/pjreddie/darknet-benchmark

Now clone to all of directory structure, once

[2020-09-02 05:05] sowson commented on #32
@hooping Perf Measurement you can find on my preprint in the very detailed description at https://www.preprints.org/manuscript/202007.0506/v1 If you wanted to check on your own please make following structure of directories.

$HOME/github/sowson/darknet
$HOME/github/sowson/darknet-benchmark
$HOME/github/pjreddie/darknet
$HOME/github/pjreddie/darknet-benchmark

Now clone to all of directory structu

[2020-09-02 11:07] hooping commented on #32
Thanks for sharing!  It's very prehensile benchmark. I will also run the measurement in my environment when available.

[2020-09-08 01:24] th1nk1ng commented on #30
Thank you very much for answer!

[2020-09-08 01:24] #30 closed

[2020-09-14 10:28] wanfade opened #33 "CL_OUT_OF_RESOURCES error when training in classifier ."
Hello, @sowson thank your great work.
I used this project for training yolov3 with opencl, and it worked very well. But when training a classifier, there is a **opencl backward_scale_kernel error: CL_OUT_OF_RESOURCES**. I want to know if there are some problem with my way.

I used a customize dataset with 2 classes, and modified filters of the last convolution layer in cfg/darknet19.cfg.

Here are

[2020-09-14 11:22] sowson commented on #33
@wanfade can you please compile and use https://github.com/clMathLibraries/clBLAS also in the blas_kernels.c int tuning = 16 you may change in 7 cases to value 8 or 4. on my macOS with 2 Radeon VII there is no issue but I am using "mine" clBLAS mentioned above. Thanks!

[2020-09-15 02:00] wanfade commented on #33
Thanks for your reply. I compiled darknet with the clBLAS project, and changed 'int tuning = 16' in the blass_kernels.c with 8,4,2. But there is still the 'opencl backward_scale_kernel error: CL_OUT_OF_RESOURCES'.

I try the same code on a macbook without the clBLAS mentioned above, it work well.

Maybe it is an error on 'OpenCL 1.2 CUDA' ?

[2020-09-15 07:27] sowson commented on #33
@wanfade  please try this one patch if it is really on this kernel I have older a bit slower version that I tested on Titan RTX.

[nvcl.patch.txt](https://github.com/sowson/darknet/files/5223129/nvcl.patch.txt)

git apply nvcl.patch.txt

Let me know if that works? Thanks!

[2020-09-15 07:46] wanfade commented on #33
Fine. It works!
The speed is still fast.
Thanks for your help!

[2020-09-15 08:35] sowson commented on #32
@hooping can we close this one?

[2020-09-15 08:36] sowson commented on #33
@wanfade can we close it now? solution commit is in the repository, thanks!

[2020-09-15 08:37] #33 closed

[2020-09-15 08:37] sowson commented on #31
@nguyentrong56 can we close this issue?

[2020-09-22 09:28] maitheen commented on #29
Do you have OpenCL code for Yolo4

[2020-09-22 09:56] sowson commented on #29
I am working on this but not wanted to share it just yet. Thanks!

[2020-09-22 11:53] hooping commented on #32
Sure, thanks!

[2020-09-22 11:53] #32 closed

[2020-09-23 07:21] zakamik opened #34 "Error while running darknet binary"
Hello,
I have just run into the problem when tried to use your code:

./darknet detect cfg/yolov2.cfg yolov2.weights ./snapshot.jpg -thresh 0.2

Device IDs: 1
Device ID: 0
Device name: Oland
Device vendor: Advanced Micro Devices, Inc.
Device opencl availability: OpenCL 1.2 AMD-APP (3004.6)
Device opencl used: 3004.6
Device double precision: YES
Device max group size: 256
Device address bits: 64
op

[2020-09-25 12:02] maitheen commented on #29
Dear Sowson,
Thank you so much for your reply.
This is Maitheen Farmannulla and I’m an international student in National
Cheng Kung University, Taiwan.
Right now, I’m pursuing my master's in Computer Science and Information
Engineering.
My project is about YOLO v4 and I have to implement it in our Computer
Architecture and System Laboratory, Graphics Processing Unit.
My senior implemented the YOLO

[2020-09-28 08:31] sowson commented on #29
Hello @runaway @maitheen,

I committed the version with YOLO4 experimental support, not all are working yet, I am deep dive into issues. The issue was to separate YOLO4 from previous work parts. So pls use an [yolo4] instead of [yolo] in YOLO4 CFG files. And all pull requests are welcome if you find issues. It is difficult to time for me to make it better. The last thing in the project "cfg" folde

[2020-09-28 08:32] sowson commented on #31
No comments yet, so I am closing it. Thx!

[2020-09-28 08:32] #31 closed

[2020-09-28 18:27] sowson commented on #34
hi @zakamik go to src/blas_kernel.cl and put nothing into function or comment its body:

static void atomicAdd(volatile __global float *a, float v) { union { float f; unsigned int i; } o; o.i = 0; union { float f; unsigned int i; } n; n.i = 1; do { o.f = *a; n.f = o.f + v; } while (atom_cmpxchg((__global unsigned int *)a, o.i, n.i) != o.i); }

thx!

[2020-09-28 20:20] zakamik commented on #34
Thank you, will try and let you know if it works

[2020-09-28 21:29] sowson commented on #34
Pls clone now, I think I made some progress… remember start training several times, if it fail because of some radom weights… good luck! :D. remember to citate in master thesis! :D

[2020-09-29 08:51] zakamik commented on #34
This solution works for me. However, latest commit won't compile, had to revert to the previous one.

[2020-09-29 09:16] sowson commented on #34
@zakamik can you do me a favor and check compile now? I changed the last commit. Thanks!

[2020-09-29 16:40] zakamik commented on #34
Tried a number of compile options, with GPU always the same result:

Device IDs: 1
Device ID: 0
Device name: Oland
Device vendor: Advanced Micro Devices, Inc.
Device opencl availability: OpenCL 1.2 AMD-APP (3004.6)
Device opencl used: 3004.6
Device double precision: YES
Device max group size: 256
Device address bits: 64
FATAL ERROR: CL_COMPILE_PROGRAM_FAILURE

[2020-09-30 11:51] maitheen commented on #29
Dear Sowson,

Firstly, I would like to thank you with my whole heart and

I am so happy that you have given your importance to me regarding this YOLO
v4.

I am really blessed to see such a renowned scientist like you.

You have become my life's turning point.

I will never forget you in my entire life and you mean a lot to me.

I always expect positive gestures and reply from your side.

Once agai

[2020-09-30 11:59] sowson commented on #29
@maitheen I am not so smart, but anyway happy to read what you wrote. Anyway, I have still a stability issue. Pls wait few more days or use CPU only flags till I stabilize the training process of YOLO4 in OpenCL. Thanks!

[2020-10-01 10:19] sowson commented on #29
@maitheen I have an interesting idea for your master thesis, pls use the YOLO3 model, but replace inside [yolo] to [yolo4] it will be an interesting change, also you may change activation functions to MISH, that should be super stable for training, so you will not use a full YOLO4 but some elements of this model... works for you? :-).

[2020-10-01 20:49] sowson commented on #34
@zakamik should be fine now... can you recheck... I had to squash some code :P. Pls let me know if we could close this issue?

[2020-10-01 20:50] sowson commented on #29
@maitheen I finished YOLO4 elements port for now... Good Luck!

[2020-10-01 21:26] zakamik commented on #34
Will be able to check in a few days, pill post an update

[2020-10-02 05:09] sowson opened #35 "YoloV4 MISH Activation Function and/or Gradient Function Issue"
Hello, I am putting this issue for all who follow this repo... do you know any better MISH implementations? I found that in my YOLO4 elements (most but not all, to not break compatibility) this function makes trouble and "nan" values, once in yolov4*.cfg files I will change from "mish" to "leaky" all is fine and training is super stable, I expected detections will be also... but I was wonder about

[2020-10-02 07:01] maitheen commented on #29
Dear Sowson,
Thank you so much for your motivation and it's happy to hear that you have
completed YOLO v4.
I'll start my work, if any doubts arise I'll let you know and please be
there for me in all aspects.
Thank You.

On Fri, Oct 2, 2020 at 4:50 AM Piotr Sowa <notifications@github.com> wrote:

[2020-10-02 10:10] sowson commented on #35
It is solved! :D

[2020-10-02 10:11] sowson commented on #29
![Screen Shot 2020-10-02 at 12 05 19 PM](https://user-images.githubusercontent.com/33941184/94912724-61fe3a80-04a8-11eb-9e58-0fa0c9e72cd0.png)
:D all solved! :D... training too... :D.

[2020-10-02 10:20] #35 closed

[2020-10-02 10:48] sowson commented on #34
I am 100% sure all works now! :D

[2020-10-05 11:52] maitheen commented on #29
[image: Screenshot from 2020-10-05 19-29-52.png]
Dear Sowson,
From the morning I'm trying to resolve the error, but I can't I don't know
whether it is my mistake in the installation or some coding error.
Could you please clarify it.
Thank you

On Sat, Oct 3, 2020 at 3:02 PM Mailtrack Reminder <reminders@mailtrack.io>
wrote:

[2020-10-05 11:54] sowson commented on #29
Hey, @maitheen I cannot see your screenshot.

[2020-10-05 12:15] maitheen commented on #29
Dear Sowson,
Please check through this link.
Thank you.
https://drive.google.com/drive/folders/1aKt8ANSkJpchgJppHepsN68YgAzwc9wK?usp=sharing

On Mon, Oct 5, 2020 at 7:55 PM Piotr Sowa <notifications@github.com> wrote:

[2020-10-05 12:31] sowson commented on #29
are you unable to read? :p

[2020-10-05 12:36] maitheen commented on #29
What do you mean, I did not understand could you please tell briefly.

On Mon, Oct 5, 2020 at 8:32 PM Piotr Sowa <notifications@github.com> wrote:

[2020-10-05 12:37] sowson commented on #29
read what error said!

[2020-10-05 13:04] maitheen commented on #29
I read the error, I already installed OpenCV-2.4.13.5.
But I don't know why the error occurred.

On Mon, Oct 5, 2020 at 8:37 PM Piotr Sowa <notifications@github.com> wrote:

[2020-10-05 13:48] sowson commented on #29
Are you sure? devel version (headers and other things)? is it ubuntu?

[2020-10-05 13:52] sowson commented on #29
In ubuntu name of the correct package is: libopencv-dev

[2020-10-05 13:54] sowson commented on #29
btw, what gpu(s) you have? wonder how fast drivers in ubuntu work? pls help on that to me... I tried 18.04 and drivers for Radeon VII gpus were very very slow

[2020-10-05 13:59] maitheen commented on #29
yes, I'm sure and it is ubuntu.
you can also check the link, I have attached the screenshot in that you can
see the OpenCV which I installed.

https://drive.google.com/drive/folders/1aKt8ANSkJpchgJppHepsN68YgAzwc9wK?usp=sharing

On Mon, Oct 5, 2020 at 9:48 PM Piotr Sowa <notifications@github.com> wrote:

[2020-10-05 14:02] sowson commented on #29
hmm... why you do not use?: sudo apt install libopencv-dev

[2020-10-05 14:03] sowson commented on #29
same for libomp-dev etc...

[2020-10-05 14:03] sowson commented on #29
and regarding GPU(s) what you have?

[2020-10-05 14:20] maitheen commented on #29
Till now I'm using my CPU to run the OpenCL, In my CPU I don't have any GPU
once I achieved the results on my computer.
Then I will use Nvidia GPU.
The below image is the GPU which I'm going to use.
[image: GPU NAME.png]

On Mon, Oct 5, 2020 at 9:59 PM Maitheen Farmannulla <
maitheenonchat@gmail.com> wrote:

[2020-10-05 14:28] maitheen commented on #29
I already did sudo apt install libopencv-dev, but it's not working.
you can also see that in the below image and also I have attached in the
google drive link.
[image: sudo.png]

On Mon, Oct 5, 2020 at 10:19 PM Maitheen Farmannulla <
maitheenonchat@gmail.com> wrote:

[2020-10-05 15:08] sowson commented on #29
you have to figure out how to use OpenCV v2 or v3 because v4 it is not supported...

[2020-10-06 05:04] sowson commented on #29
Try this... https://www.learnopencv.com/install-opencv-3-4-4-on-ubuntu-18-04/ :P

[2020-10-06 10:27] maitheen commented on #29
[image: Tried to GPU .png]

While I tried to compile in my GPU, this error was occurring.
It shows the clBLas is missing.
You can see the error in the above image

On Tue, Oct 6, 2020 at 1:04 PM Piotr Sowa <notifications@github.com> wrote:

[2020-10-06 10:31] sowson commented on #29
use: sudo apt install libclblas-dev
if you have an multi GPU isse (not enable in Makefile! keep disabled!) use https://github.com/sowson/clBLAS and replace clBLAS..2.12.0.so
thx!

[2020-10-06 10:32] sowson commented on #29
sorry but again cannot see image you added

[2020-10-06 10:40] maitheen commented on #29
You can check the link to see the error.

https://drive.google.com/file/d/1SdqTofUQkNA0X10k6xk69UvEjZ60naei/view?usp=sharing

On Tue, Oct 6, 2020 at 6:32 PM Piotr Sowa <notifications@github.com> wrote:

[2020-10-06 10:41] maitheen commented on #29
Okay,  I'll try this now.

On Tue, Oct 6, 2020 at 6:32 PM Piotr Sowa <notifications@github.com> wrote:

[2020-10-06 18:01] zakamik commented on #34
Unfortunately I had no luck with running new version:

./darknet detect  cfg/yolov3.cfg yolov3.weights sample.jpg -thresh 0.1
opencl_init: Could not get platform IDs.

./darknet -i 0 detect  cfg/yolov3.cfg yolov3.weights sample.jpg -thresh 0.1
Device IDs: 1
Device ID: 0
Device name: Oland
Device vendor: Advanced Micro Devices, Inc.
Device opencl availability: OpenCL 1.2 AMD-APP (3004.6)
Device ope

[2020-10-07 01:10] sowson commented on #34
can you retry after now... ? in some moment and let me know? thx!

[2020-10-07 07:47] zakamik commented on #34
Last version unfortunately has the same first issue, fixed by commenting the code in  blas_kernels.cl but apart from that it works

[2020-10-07 14:30] sowson commented on #34
tuning has to be dynamic, not 16... thanks for point that out :). can you re-check?

[2020-10-07 16:14] zakamik commented on #34
Nothing has changed on my side, same function `"atom_cmpxchg" declared  implicitly` error.
commit 305c8df9f17d2729b6194a16cec83d71d9a92c53 (HEAD -> master, origin/master, origin/HEAD)

[2020-10-07 17:02] sowson commented on #34
ok, I commented it, I am not using upsample layers, for now, once I will check it, maybe without atomic add it still be working fine. thx!

[2020-10-07 17:02] #34 closed

[2020-10-28 07:05] Otenbigie opened #36 "Installing YOLOv4 windows AMD"
Is this already available for windows? if so, is there a tutorial on how to install

[2020-10-28 13:11] sowson commented on #36
This solution is described as ready for GNU/Linux and macOS and this not change for some time... sorry.

[2020-10-28 22:52] Shah-imran commented on #11
sorry that project was abandoned. So i didn't follow up on this. Thanks for your help though.

[2020-10-30 03:42] wanfade opened #37 "Aborted when run 2 training from libdarknet.so at the same time"
Hello, I compiled darknet and libdarknet.so on my macbook pro.
It is fine when I ran "darknet detector train" on the same GPU at the same.
But when turn to libdarknet.so,
the second training will be very slow and finally aborted with no more log info.

I load libdarknet.so in the both python code and C,
and the behaviors are same that training a detector on the one GPU is safe,
or two trainings on

[2020-10-30 06:03] wanfade commented on #37
Update:
All problems  disappeared when I changed the input size from 608 to 416.

[2020-10-30 06:03] #37 closed

[2020-11-03 19:26] #36 closed

[2020-11-03 19:27] sowson commented on #29
I think nothing more needs to be added here. Thanks!

[2020-11-03 19:27] #29 closed

[2020-11-06 08:32] wanfade opened #38 "Classifier training behaves different on AMD and Intel GPU"
Hello, @sowson , thanks for yolov4 updating.

I got a problem that training behavior are different on two gpus. When training on the AMD Radeon Pro 455, the loss value decrease normally, but when using Intel(R) HD Graphics 530 on the same MacBook pro, the loss value became nan or inf at the first or second batch. I switch the GPU with '-i 0' and '-i 1'.

It's a 2-classes classification , total ima

[2020-11-06 09:11] sowson commented on #38
hello, @wanfade the issue you have is a smaller VRAM memory issue. Try to use 64x64 in your NET CFG instead of 256x256 net size for a moment, and then the amount of allocated memory will be smaller and you can use Intel I presume, let me know the effect of that experiment. Thanks!

[2020-11-06 09:51] wanfade commented on #38
You are right. Maybe the network structure is too big to my intel GPU.

I changed the input image size to 32*32, 64*64(also modified min crop and max crop), the first batch became normal. But from second batch, the loss value got nan.
[code]

Then I changed the network structure which make all convolution filters no more than 256 , and keep input size to be 256*256, without base model , training l

[2020-11-06 16:06] #38 closed

[2020-11-06 20:17] Grench6 opened #39 "opencl_load: could not link. error: CL_INVALID_LINKER_OPTIONS"
OS: Ubuntu 20.04.1 LTS

I have a RTX580, so I am using rocm and the opencl it comes with. I have successfully built darknet, but whenever I try to run it I get the following output:
[code]
What am I doing wrong?
Does `opencl_load: could not link. error: CL_INVALID_LINKER_OPTIONS` mean something is wrong with my opencl? or is it the way I built darknet?
My google-fu was useless.

[2020-11-07 04:53] sowson commented on #39
Hello @Grench6
Please try the: `git apply rocm.patch.txt` in the darknet directory
From this one file: [rocm.patch.txt](https://github.com/sowson/darknet/files/5504312/rocm.patch.txt)
Thx! Let me know if that works?

[2020-11-07 19:47] Grench6 commented on #39
Hello @sowson, thanks for the quick response!

This is what I got:
[code]
I don't know why the files differ (only a little bit), since I cloned the main branch. So I manually made the changes specified in the patch... and it worked! 😃

Now I am getting another error, but it has something to do with a failed assertion on opencv, and I am almost sure it is my fault (I had problems installing opencv,

[2020-11-07 19:47] #39 closed

[2020-11-08 05:38] Grench6 opened #40 "cv::Exception matrix_wrap.cpp:771: error: (-215:Assertion failed) (flags & FIXED_TYPE) != 0 in function 'type'"
The error can be reproduced by following the [setup commands](https://iblog.isowa.io/2018/05/26/darknet-training/) in a fresh and clean installation of Ubuntu 20.04.1 LTS.

After compiling and building everything, nothing seems wrong at all... until you try to use darknet:
[code]

I already tried downgrading opencv to 3.4.0 as  @AlexeyAB proposed for his repo [in an issue](https://github.com/pjred

[2020-11-08 05:56] Grench6 commented on #40
Some changes I suggest to [the setup for Ubuntu](https://iblog.isowa.io/2018/05/26/darknet-training/):
1. Add `sudo apt install gfortran`
1. Replace `./amdgpu-install –pro –opencl=pal,legacy -y` with `./amdgpu-pro-install -y --opencl=pal,legacy`
1. Replace `sudo cp cp library/libclBLAS.so.2.12.0 /usr/lib/x86_64-linux-gnu/libclBLAS.so.2.12.0` with `sudo cp library/libclBLAS.so.2.12.0 /usr/lib/x86_6

[2020-11-08 16:26] sowson commented on #40
@Grench6 Thank you very much, overall it works or not? Thx!

[2020-11-08 19:13] Grench6 commented on #40
Hello!
To be able to determine if darknet works in the "overall" meaning of the word I decided to do the following:

- Disable OpenCV in the `Makefile`.
- Comment a few lines at `./examples/cgan.c` which make use of OpenCV.
- Uncomment the line shown bellow (no. 258) in the `./src/image.c` (to be able to see the results).
[code]
- Insert the line shown bellow after `if (bot > im.h - 1) bot = im.h

[2020-11-08 20:10] Grench6 commented on #40
PS: Now I see the error in

For some reason the command has **‘** instead of **'**. The correct one is: `cat Makefile.bak | sed 's/NVIDIA=1/NVIDIA=0/g' | sed 's/AMD=0/AMD=1/g' > Makefile`

[2020-11-09 18:45] Grench6 commented on #40
Okay, I found a way to make it work:
1. Install the following packages **before** building OpenCV:
`sudo apt install libgtk2.0-dev libcanberra-gtk-module libcanberra-gtk0`
1. Downgrade OpenCV (use 3.4.0 instead of 3.4.12)
`wget https://github.com/opencv/opencv/archive/3.4.0.tar.gz`

And then OpenCV should work as expected with darknet. The main issue with 3.4.0 version was the Gimp Toolkit compone

[2020-11-09 18:45] #40 closed

[2020-11-11 16:10] Grench6 opened #41 "Yolov4-tiny not showing detections"
The window of the picture is showing, the image is there, but I can not see any detections... I use the following command:
[code]
Yolo3, yolo3-tiny and yolo4 are working as expected. Is this because yolo4-tiny is not supported?

[2020-11-13 10:59] sowson commented on #41
I re-port from YOLO4 repo route layer one more time (it indicates in your output not used variables) but it still not detecting objects... I will commit it soon... maybe the threshold is too high?

[2020-11-16 03:17] Grench6 commented on #41
Lowering the threshold has no effect

[2020-11-16 09:37] sowson commented on #41
Maybe you should try to train this model on your own? Thx!

[2020-11-16 17:39] Grench6 commented on #41
Ok, I will try that. I will update results as soon as I have them.

[2020-11-17 02:22] Grench6 commented on #41
I still cant train yolo4-tiny, but before posting the issue I was able to train yolo3 and yolo3-tiny and now I can not train any of those...
Here is the output
[code]
I really have no idea what is wrong, I used the exact same files, I even created them again from zero, but it is still not working... I ran out of ideas here, training yolo3-tiny was working a few days ago...

[2020-11-17 02:30] Grench6 commented on #41
I followed all the [instructions of AlexeyAB to train](https://github.com/AlexeyAB/darknet#how-to-train-to-detect-your-custom-objects), multiple times, in different ways.
- Images where generated using yolo-mark, and they worked before, so I doubt there is the problem.
- I downloaded the initial weights for yolo3-tiny from [here](https://drive.google.com/file/d/18v36esoXCh-PsOKwyP2GWrpYDptDY8Zf/vi

[2020-11-17 02:34] Grench6 commented on #41
Should I use a specific branch or version? Is the master branch safe to clone? Does the images used for trainning need to be of specific size (pixelxpixel)? Is there a limit? Do I need a different procedure to train this repo? Those are other questions I have too.

[2020-11-17 05:55] sowson commented on #41
@Grench6 code is fine, compilation too, your GPU needs rest, turn off your PC, unplug the power cord and give it rest about 1-2 hour and everything will be fine again :D. I often have a similar issue after many tries and OpenCL inint without deinint..., I checked and on my computer, all the mentioned training work just fine. On your end, you have garbage in VRAM that has to be cleaned up. Hope tha

[2020-11-17 06:04] sowson commented on #41
@Grench6 btw, gdb is your friend if you build with -g flag or DEBUG=1 then you may after gdb command put your training command and see where is the breakpoint fails... if it will be in opencl.c hight probably my last comment is relevant :).

[2020-11-21 10:43] sowson commented on #41
@Grench6 there was an error with OpenCL resources free in the Route layer... I have just fixed and committed it. Thx!

[2020-11-24 23:44] Grench6 commented on #41
Sorry for late reply.

Detection is still not showing a thing

![Screenshot from 2020-11-24 17-42-08](https://user-images.githubusercontent.com/73711375/100163996-8bba5900-2e7c-11eb-9efb-b66a119e176a.png)

And with training... well, at least now I dont get the segmentation fault error, but now there is something else wrong.
Training is not working at all, I get the following output: [out.pdf](http

[2020-11-24 23:48] sowson commented on #41
@Grench6 can you pls try to remove yolov4-tiny.conv.29 from train command. Thx!

[2020-11-25 00:09] Grench6 commented on #41
Still the same with Nan: [out.pdf](https://github.com/sowson/darknet/files/5593481/out.pdf)
Here is the config file if that is useful: [yolov4-tiny-custom.txt](https://github.com/sowson/darknet/files/5593490/yolov4-tiny-custom.txt)

[2020-11-25 00:14] sowson commented on #41
I will look into it soon, for now, I am training other models, the answer is probably in the model, I have to compare it with yolo4 and look for any additional layer or activate function I may not have in the engine, sorry for inconvenient situation with it.

[2020-11-25 00:17] Grench6 commented on #41
Ok, no problem man. I will wait for any update.

[2021-01-31 10:41] WhiteEyeYan opened #42 "How to build on Windows10?"
I success used Cmake to make a .sln file.
And I'm trying to compile it by Visual Studio 2019.
But it has too much error, after I fix one more error come out.
Could anyone help me build it on windwos?

[2021-02-02 00:11] sowson commented on #42
Please make a fork and try hard... I am really interested in integrating such code to allow the Win10 build to succeed. Thanks!

[2021-02-02 06:35] WhiteEyeYan commented on #42
Sorry, I'm not good at programming but I'll keep trying.
Now, I have another problem.
I build on ubuntu 18.04 with AMD RX480.
I set yolov4-tiny.cfg like this:

It will have error "Segmentation fault (core dumped)".
![2021-02-02 14-18-48 的螢幕擷圖](https://user-images.githubusercontent.com/67775380/106560417-f6b19b80-6561-11eb-809b-2b4fa8d5c085.png)

If I set subdivisions > batch like this:

error beco

[2021-02-05 16:47] achateigner commented on #42
Hi, I am interested in building it for windows too.
Are there any libs that you are using that are specific to unix systems?

[2021-02-12 10:43] elad8a commented on #42
@sowson I'm interested too, currently trying to resolve the cmake issues. it might be beneficial to try and write up a simple build instructions that lists dependencies.

currently, I struggle to configure clblas. but I also see the usage of non portable includes in the src files. pthreads is one example.

[2021-03-06 22:42] road2programmer opened #43 "Is it possible to run it on Intel GPUs?"
Hello,
I have been trying to build it for a computer with only the integrated Intel GPU. I am not able to see the option in the Makefile, so maybe there is no support for it.... could please someone confirm it or, in case there is the possibility of running it only using the integrated GPU, give some information on how to do it?

Thanks  a lot!

[2021-03-07 07:11] sowson commented on #43
Thank you, you need OpenCL, which could be from the https://github.com/intel/compute-runtime/releases and once you install it, or on macOS it is build-in.

use in cloned dir:
mkdir build; cd build; cmake ..; make; cp darknet ..; cp libdarknet.* ..; cd ..; rm -r build

Use -i 0 or -gpus 0 if you need, but this is the default value so you do now have to.
Thanks! Enojy!

[2021-03-07 07:12] #43 closed

[2021-03-21 19:30] sowson commented on #21
DONE! :D

[2021-03-21 19:30] #21 closed

[2021-04-04 18:08] road2programmer opened #44 "Support for camera"
Hello,
I have built the binary using OpenCV 3.4.11 and it works. However, if I try to use the camera (./darknet detector demo cfg/coco.data cfg/yolov3.cfg yolov3.weights) the application starts to not respond... it takes a while to load the image, but once loaded, the image displayed never changes although the graphics card is being used. Also, when I try to use a video as an input, I get floating

[2021-04-11 07:23] trriger opened #45 "Errors when compile the project: undefined reference to 'avg_predictions'"
When I try to compile this project on Ubuntu18.04.  It goes wrong and show the error--- **undefined reference to 'avg_predictions'**, which is shown as following:
![image](https://user-images.githubusercontent.com/55041272/114295540-6ef38a80-9ad8-11eb-8e01-6724cfded522.png)

@sowson How to fix it?

[2021-04-11 12:59] TaihuLight commented on #45
(1) The function ```detection *avg_predictions(network *net, int *nboxes)``` is old and should be instead with the new function ```get_network_boxes```. Thus, In the file examples/yolo.c, you should fix the code with the method shown as following.
	// replace this
        //dets = avg_predictions(&net, &nboxes);
	dets = get_network_boxes(&net, 1, 1, thresh, 0, 0, 0, &nboxes);

(2) The width of lin

[2021-04-20 08:21] TaihuLight opened #46 "opencl gemm_kernel error: CL_INVALID_WORK_GROUP_SIZE for the function gemm_offset_gpu() in blas_kernels.c"
When I run darknet using the function gemm_offset_gpu() in blas_kernels.c, it occurs the following error:
`FATAL ERROR: CL_INVALID_WORK_GROUP_SIZE
opencl gemm_kernel error: CL_INVALID_WORK_GROUP_SIZE`

How to fix it?

[2021-04-28 01:30] #45 closed

[2021-05-01 08:09] Simtokyee opened #47 "undefined reference to 'avg_predictions'"
When I was trying to make this project, it returned 1, and said that:
/usr/bin/ld: obj/yolo.o: in function `test_yolo4':
yolo.c:(.text+0x334a): undefined reference to `avg_predictions'
collect2: error: ld returned 1 exit status
make: *** [Makefile:137：darknet] 错误 1

Seems like an easy  problem, maybe inputting some words to 'makefile' can work, but I don't know how to fix it...

[2021-05-01 09:02] Simtokyee commented on #47
I found that issue45 has the same problem with me. I followed the instuction and now this problem has been solved succesfully : )

[2021-05-01 09:02] #47 closed

[2021-05-08 16:38] jedi2610 opened #48 "error while compiling"
[code]
OS: `Arch Linux` with [`opencl-amd`](https://aur.archlinux.org/packages/opencl-amd/) installed
i'm getting this error while compiling. am i going wrong somewhere or is it an issue on your side?
btw, i ran `mkdir build; cd build; cmake ..; make`

[2021-05-11 08:30] jedi2610 commented on #48
i'm getting seg faults, which i reckon is caused due to insufficient memory. what is the recommend memory for training the model? i have an 8GB stick.

[2021-05-11 22:08] sowson commented on #48
well, for me it works perfectly... so wonder about your findings!

[2021-05-15 14:37] kchpomp opened #49 "Running Issue Error"
Hello!
I've faced with several problems, I've already left a comment under your post on your website.
I use BeagleBone AI and have my own trained YOLOv4 model. I've instaled Darknet in OpenCL as in your guide.
Then I try to run the detection using following command : ./darknet detector demo cfg/obj.data cfg/yolov4-obj.cfg /weights/yolov4.weights video1.mp4
And CCL shows the following respond: TIOC

[2021-05-21 14:55] slucasm opened #50 "Build + Run errors"
Hi @sowson,

First of all thank you for your this amazing work. I'm trying to install on my computer running Ubuntu 18.04, with a RX570. I installed rocm and OpenCL. I had some problems with clBlas instalation following your instructions on MakeFile due I haven't /usr/lib64 folder, on ubuntu 18 this folder don't exist.

Once I run` cmake ..`, and `make`, instruction `make install` give me 2 error

[2021-05-23 10:17] sowson commented on #50
pls try re-clone and build... should be a bit better :).

[2021-05-23 10:18] sowson commented on #49
sorry to say I did not succeed with the beagle board yet... any idea or finding I would appreciate, but I have no idea what is working here? sorry :).

[2021-05-23 10:18] sowson commented on #48
pls try to re-clone and let me know is there anything better.

[2021-05-23 10:20] sowson commented on #46
Yes, I was trying to dynamically adjust tuning parameters (in 7 methods) but I decided to put it as a const. pls try to re-clone now and build. thanks! :).

[2021-05-23 10:24] sowson commented on #44
well I am doing this in darknet folder:

`./darknet detector demo cfg/coco.data cfg/yolov3.cfg ../../../weights/yolov3.weights -c 0 -i 0`

I got 13 fps, do not know what is issue with your setup, sorry :).

[2021-05-23 14:40] jedi2610 commented on #48
i did i'm still getting the same error

[2021-05-28 11:42] aiXia121 commented on #41
are there some good guys sharing the data/names.list , thx
i'm newbee

/darknet detector test cfg/yolov3.cfg weights/yolov3.weights data/dog.jpg ./data/coco.names
Device IDs: 2
Device ID: 0
Device name: Intel(R) HD Graphics 630
Device vendor: Intel Inc.
Device opencl availability: OpenCL 1.2
Device opencl used: 1.2(Apr 13 2021 00:47:18)
Device double precision: NO
Device max group size: 256
Device

[2021-05-29 16:20] Grench6 commented on #41
@aiXia121 That has nothing to do with this issue, but what you are looking for is in this link:

https://github.com/pjreddie/darknet/blob/master/data/coco.names.

Download that file, place it where it belongs and rename it. Next time open a new issue.

[2021-06-01 18:12] kchpomp commented on #49
Actually, I tried, however still didn't find answer. Can you please answer. I used your guide https://iblog.isowa.io/2020/04/29/darknet-in-opencl-on-beagleboard-ai/ . I have several questions:
1.What OS you have on BeagleBone AI ?
2. You installed it directly on eMMC or you use it on SD Card?
3. Have you got HeapManager file in /dev/shm/ directory?
4. Are there any files in /dev/shm directory, bec

[2021-06-02 14:02] sowson commented on #46
Hi, is it anything better now?

[2021-06-02 14:04] sowson commented on #48
pls, re-try now :). and pls add more env info? what os? what platform? what hardware? do you know gdb? can you use CLion?

[2021-06-02 14:06] sowson commented on #50
there is no make install, the darknet is built-in the directory and 2 libdarknet.* files as well, one static and one dynamic lib. I change many things and now should be better :).

[2021-06-03 10:07] KurtKoo opened #51 "Is it applicable for opencl 1.1?"
I read the blog in which the opencl darknet runs on the beagleboard.
And I want to deploy the opencl darknet on the TI product, TMDSEVM572X. The opencl 1.1 is installed on the board.
According to the blog, should I just make modifications as below?
1. In src/opencl.h file, "#define CL_TARGET_VERSION 110"
2. In Makefile file, "ifeq ($(ARM), 1) " part, COMMON+= -DGPU -DOPENCL -DCL_TARGET_OPENCL_VERS

[2021-06-03 10:15] slucasm commented on #50
Hi @sowson,

I pulled your last changes and now the weights loads well, but then one error appears regarding file opencl.c. I show you the full output:

**./darknet detector test ./cfg/pedestrian_visdrone.data ./cfg/yolov3-aerial_ped.cfg ./weigths/yolov3-aerial_ped_final.weights ./data/image1614171751.jpg**
Device IDs: 1
Device ID: 0
Device name: Radeon RX 570 Series (POLARIS10, DRM 3.41.0, 5.4.0-

[2021-06-03 10:28] sowson commented on #50
I am patient... :) you do not see an error in output?!

Unused field: 'anchors = 0.738768,0.874946,2.42204,2.65704,4.30971,7.04493,10.246,4.59428,12.6868,11.8741'

make sure you have it correct format, if you are not sure check in this repo cfg/yolov3.cfg

thanks!

[2021-06-03 10:30] sowson commented on #51
the code base is 1.1 really but tested on 1.2+ pls give a try your idea you may succeed :).

[2021-06-03 12:14] jedi2610 commented on #48
i'm still getting the same error.
OS: arch linux
GPU: Radeon RX 580
Driver Installed: [`opencl-amd`](https://aur.archlinux.org/packages/opencl-amd/)

yeah i can somewhat manage with `gdb`
i don't know how to use `CLion` i use `vim`
and i'm willing to provide more info if needed

[2021-06-03 14:06] slucasm commented on #50
Hi @sowson ,

Thanks for your patience, but these lines aren't the problem. I tested the same files with Darknet version from pjreddie and AlexeyAB and the "Unused field" appears too and the detection works as expected.

If I test with cfg/yolov3.cfg the error is:

OpenCL error -11 on line 244 of /home/lucas/Documentos/VENTURI/CV/DarknetOpenCL/clBLAS/src/library/blas/xgemm.cc
darknet: /home/lucas/

[2021-06-04 01:56] KurtKoo commented on #51
Thank you! I'll give some feedback as soon as I test on the board.

[2021-06-04 13:37] sowson commented on #50
unused field is wrong... but it is your case :)... pls check now I found bug... another one :). and make sure you use clBLAS from https://github.com/sowson/clBLAS if you try run on multi-gpu... it does not work on linux sorry... but on macOS it works.

[2021-06-20 09:57] sowson commented on #44
no comments... seems the issue can be closed... feel free to reopen...

[2021-06-20 09:57] #44 closed

[2021-06-20 09:57] sowson commented on #46
no comments... seems the issue can be closed... feel free to reopen...

[2021-06-20 09:57] #46 closed

[2021-06-20 09:58] sowson commented on #51
no comments... seems the issue can be closed... feel free to reopen...

[2021-06-20 09:58] #51 closed

[2021-06-20 09:58] sowson commented on #50
no comments... seems the issue can be closed... feel free to reopen...

[2021-06-20 09:58] #50 closed

[2021-06-20 09:58] sowson commented on #49
no comments... seems the issue can be closed... feel free to reopen...

[2021-06-20 09:58] #49 closed

[2021-06-20 09:59] sowson commented on #48
no comments... seems the issue can be closed... feel free to reopen...

[2021-06-20 09:59] #48 closed

[2021-06-20 14:13] sowson opened #52 "My Issue with Not-Build Blames!"
I added 2 workflows to check the build on macOS and GNU/Linux please do not blame CMake build process once it works! :P.

[2021-06-24 17:25] MAMorgado opened #53 "Error while loading shared libraries: libclBLAS.so.2: cannot open shared object file"
Hello Piotr,

I'm trying to use your program as a replacement for the traditional Darknet with OpenCV and CUDA since I don't have the hardware necessary for running CUDA. It is a much appreciated project.

I'm using Ubuntu 20.04 and OpenCL version 4.5.3.

I compiled it without problems (make), and I was about to test it with my webcam. Do we use the same commands as darknet? For example to start y

[2021-06-25 09:15] MAMorgado commented on #53
My bad! I had the wrong GPU setting. I don't have this problem anymore

[2021-06-25 09:15] #53 closed

[2021-06-28 10:28] MAMorgado commented on #43
Hi Piotr,
Do you think you could elaborate on how to use for Intel GPUs?
I'm using a Comet Lake UHD and I got yolo running using GPUs=1 and selecting the ARM option = 1.
I thought that this fixed it but the program is running very slowly (0.5 fps) so I suspect it's not actually running with the GPU. I tried to check with intel_gpu_top and it does indeed show it busy up to 100%.
I have OpenCL 2.1 i

[2021-06-28 10:29] sowson commented on #43
ARM to 0 ;-)

Sent from my iPhone

[2021-06-28 10:34] MAMorgado commented on #43
Hey,
Thanks for your answer.
With:
GPU=1
GPU_FAST=1
GPU_MULTI=1
GPU_SAFE=0
OPENCV=1
OPENMP=1
# Choose only one (works if GPU=1): NVIDIA or AMD or ARM (for VC4CL or MaliGPU)
NVIDIA=0
AMD=0
ARM=0
BENCHMARK=0
LOSS_ONLY=0
DEBUG=0

I get the following make error:
In file included from ./src/utils.h:5,
                 from ./src/gemm.c:2:
include/darknet.h:16:9: error: unknown type name ‘uint32_t’
   1

[2021-06-28 10:36] sowson commented on #43
GPU_MULTI to 0 ;-)

Sent from my iPhone

[2021-06-28 10:38] MAMorgado commented on #43
Yeah that one was on me!
But I still get the same error :(

[2021-06-28 10:54] sowson commented on #43
Intel cpu needs own opencl 3.0, remove in etc opencl 2.1 and keep only 3.0 icu (find on github), consider my fork clBLAS ;-)

Sent from my iPhone

[2021-06-28 15:05] MAMorgado commented on #43
Hi Piotr,

I'm unsure if I managed to follow your instructions as I'm a beginner.

I tried to install OpenCL 3.0 through OpenCL runtimes for intel (I couldn't directly from KhronosGroup github) . I went to etc but the only thing inside OpenCL folder was vendors...

Right now when I run clinfo i get  Device Version OpenCL 3.0 NEO. But at the end it says:

 ICD loader Profile

[2021-06-29 07:54] sowson commented on #43
Hi,

1) I commit a little change to help you :-).

2) in /etc look for vendors folder and icd files (first is OpenCL 2.1 and second is OpenCL 3.0 I presume), move one of them somwhere safe and check with clinfo 3.0 only.

Enojoy your CPU & iGPU! :D.

[2021-06-29 09:23] MAMorgado commented on #43
Hi!
Thank you very much!
In etc/vendors I only have intel.icd that sends me to /usr/local/lib/intel-opencl/libigdrcl.so.
I will try to reinstall OpenCL again...

[2021-06-29 10:12] MAMorgado commented on #43
After reinstalling OpenCL (clinfo still showing the same and etc still showing only intel.icd because I can't get it to work downloading from anywhere else) I got a different error trying to make again your version of darknet:

./src/network.c: In function ‘train_network_datum_cgan’:
./src/network.c:440:5: warning: implicit declaration of function ‘opencl_push_array’ [-Wimplicit-function-declarati

[2021-06-29 10:26] sowson commented on #43
Move the file from /etc/vendors to somwhere else and check clinfo...

[2021-06-29 10:38] MAMorgado commented on #43
0 platforms detected if I do that.

[2021-07-01 08:09] MAMorgado commented on #43
Hi Piotr. Sorry to bother you again... Any news?

[2021-07-01 10:13] sowson commented on #43
Hi, I added by propose auto-build after each master branch push on macOS and GNU/Linux and it works perfectly, if you cannot build it is your… issue :-). Sorry...

[2021-07-05 10:21] MAMorgado commented on #43
`./src/parser.c: In function ‘parse_network_cfg’:
./src/parser.c:1113:22: error: ‘opencl_device_id_t’ undeclared (first use in this function)
 1113 |     net->gpu_index = opencl_device_id_t;
      |                      ^~~~~~~~~~~~~~~~~~
compilation terminated due to -Wfatal-errors.
make: *** [Makefile:149: obj/parser.o] Error 1
`

What about this one?

[2021-07-07 06:09] Bidski commented on #48
I also ran into this issue. While adding `-fcommon` to the build flags dis work, I feel the better solution is to make the offending variables `extern` (as they should be). The following patch fixes the issue for me

[code]

[2021-07-10 18:27] bogdad opened #56 "yolov4 prediction crashes on mac"
hey,
thank you for opencl version, this seems very cool to have!

i am getting this crash on mac big sour, trying to run yolo4, regular one or tiny.
[code]

it seems predictions is 0x000000000...
tried debugging a bit and seems in `pull_network_output(netp);` in the
[code]
l.output and l.output_gpu are not zero. but also no pointers to what may be wrong.

can continue debugging, will appreciate hi

[2021-07-11 00:52] sowson commented on #56
It looks like a hardware issue to me... you may change to opencl_pull_array_map (same parameters) function in line 1298, but I doubt it helps. I have just checked. ![Screen Shot 2021-07-11 at 02 49 08](https://user-images.githubusercontent.com/33941184/125179843-e2e62180-e1f2-11eb-89fe-c4e7c1ed3fca.png) it works!

[2021-07-18 17:05] sowson commented on #56
@bogdad the command is:
./darknet detect cfg/coco.data cfg/yolov4-tiny.cfg ../weights/yolov4-tiny.weights data/dog.jpg -i 1

and in the cfg file, you should replace [yolo] with [yolo4] once I support [yolo] tag as ver. 3, ok..?

but it is an unknown issue that version v4 of Yolo works as I showed you but tiny does... not... yet!

[2021-08-19 09:22] KurtKoo opened #58 "Encounter a 'segmentation fault' while running detection"
My device is TMDSEVM572X containing 2 DSPs. I made some modification(disable the OpenCV module and 'CL_DEVICE_TYPE_GPU' ->'CL_DEVICE_TYPE_ALL') and compiled the darknet successfully according to your guide that works on beaglebone device, only with some warning reports.

When I run detection using yolov3-tiny-prn.weights, it prints some information about the DSP, then it hangs on several seconds a

[2021-08-21 07:15] trriger opened #59 "How to fix CL_INVALID_WORK_ITEM_SIZE error"
When I tried to run detector,the program printed an error message. And my OpenCL device is GPU which is named Mail-T860.
How can I fix this error.
![image](https://user-images.githubusercontent.com/55041272/130313900-b812a3fb-a5fa-4eed-8e81-8d845b909795.png)

[2021-08-21 07:20] trriger commented on #59
This is my debug result. It seems that the global item is to large.
![image](https://user-images.githubusercontent.com/55041272/130314163-0edcd938-81c8-4752-9a72-4ce71a2e8b82.png)

[2021-08-21 10:46] sowson commented on #59
can you try yolov2.cfg or yolov3-tiny.cfg? my exp. with Asus Tinker Board S showed me a vram limitation is a reason. thx!

[2021-08-22 01:57] trriger commented on #59
Thank you for your reply.
I just try use yolov3-tiny.cfg, but the same error occured.
Is there another solution to this problem?
![image](https://user-images.githubusercontent.com/55041272/130339408-36548fec-1b8a-4836-a5fa-e433be2a0d76.png)

[2021-08-22 11:14] sowson commented on #59
ok, let me try to answer in 99% it is because of clCreateBuffer usage... now, please navigate to the "src/opencl.c" file and look for 2 invocations of the mentioned method, keep only CL_MEM_READ_WRITE flag and make replace x_gpu.ptr argument as NULL, rebuild and it should help, however, only usage not training will work with this change, you may also if works make it in the "#ifdef ARM" section to

[2021-08-22 12:04] trriger commented on #59
Pardon my asking, but is this parameter changed to NULL. I try to rerun the program, but the program has the same error.
![image](https://user-images.githubusercontent.com/55041272/130354332-d49ab8a8-2905-4ec9-b67a-fc40549ddff4.png)

[2021-08-22 12:32] sowson commented on #59
please pull the latest commit all will be fine :D.

[2021-08-22 13:35] trriger commented on #59
The latest commit runs successfully. I sincerely appreciate your help.

[2021-08-22 13:36] #59 closed

[2021-08-25 03:41] sowson commented on #56
let me add my 2 cents... error is in the clBLAS and/or in CLBlast for GEMM computing... maybe I should find some other project that multiplies matrixes? I am not sure... anyway, appreciate your try to find the issues ;-). thanks!

[2021-09-05 02:28] sowson commented on #41
@Grench6 you may check now :-).
![predictions](https://user-images.githubusercontent.com/33941184/132112906-515f7221-e550-4f96-874e-93b3bd679bb0.jpg)

[2021-09-05 02:28] #41 closed

[2021-09-05 02:29] sowson commented on #56
you are trying to use yolo4-tiny that did not work.. till now :).
![predictions](https://user-images.githubusercontent.com/33941184/132112917-fde39dca-66ee-482b-b528-070902f977c2.jpg)

[2021-09-05 02:29] #56 closed

[2021-09-10 17:41] Grench6 commented on #41
Thank you! Right now I don't have my graphics card, but I will test it as soon as I have it. 👍🏾

[2021-09-13 08:20] sowson commented on #42
Hello, I am working on build this repo on Windows and AMD GPU... at https://github.com/sowson/darknet/tree/winX64-thanks-to-jihuacao on this branch... can you help to test it? I have to make sure macOS, GNU/Linux and Windows 10 x64 are build find before integrate, but maybe you have some experience and can improve this branch? Thanks!

[2021-09-13 08:23] sowson commented on #42
@jihuacao I saw your fork... can you help? Thanks!

[2021-09-14 16:08] sowson commented on #58
@KurtKoo I am sorry it takes such a long, but I do not know how to help... I have only beagle board X15 but it is a different case I suppose... thanks for trying this solution! 👍

[2021-09-15 02:57] KurtKoo commented on #58
It's alright. Maybe it was because I disabled the OpenCV module or the memory for OpenCL is not enough.

I'll try to solve these problems.

Thanks!

[2021-09-15 14:38] Deblazz commented on #53
Hi, I have the same error, could you please tell me how you fixed it?

[2021-09-19 01:54] trriger opened #61 "An error occurred while compiling the program with OpenMP."
**Platform:** Rock Pi 4C with RK3399
**OS:** Ubuntu 20.04
**Tools:** GCC 9.3.0 with OpenMP

The error message is shown below. I think that the error may be due to the definition of GPU.
[code]

![image](https://user-images.githubusercontent.com/55041272/133912885-f02a6a81-f67d-409c-875a-82dbecb3f7a0.png)

The next picture is the config of Makefile.
![image](https://user-images.githubusercontent.co

[2021-09-20 20:11] sowson commented on #61
@trriger, can you please try the latest commit by pull repository? Thanks!

[2021-09-23 04:20] trriger commented on #61
Yes, The latest version of the program runs normally. Thanks！

[2021-09-23 05:06] #61 closed

[2021-09-26 08:15] #52 closed

[2021-10-07 10:32] you0me0 opened #63 "openCL not found"
Ubuntu Version -> 20.04
Kernel Version -> 5.4.0-54-generic

clinfo ->
`
Number of platforms                               1
  Platform Name                                   AMD Accelerated Parallel Processing
  Platform Vendor                                 Advanced Micro Devices, Inc.
  Platform Version                                OpenCL 2.1 AMD-APP (3110.6)
  Platform Profile

[2021-10-07 10:34] you0me0 opened #64 "opencl Not Found error"
Ubuntu Version -> 20.04
Kernel Version -> 5.4.0-54-generic
Graphic Card -> Radeon HD 8600/8700M

clinfo ->

[code]

darknet cmake result
[code]

i install opencl v1.2
[code]

[2021-10-07 10:37] #63 closed, assigned to nobody

[2021-10-07 21:00] sowson commented on #64
I am not sure this one but have 2 suggestion (use the latest driver from AMD).

0) remove driver: amdgpu-uninstall
1) install again in drv folder: sudo ./amdgpu-pro-install --opencl=rocr -y
2) add user to render group: sudo usermod -a -G render $USER
3) reboot

let me know how it works? thanks!

[2021-10-08 04:15] sowson opened #66 "automatic build to test on windows"
do you know if the below YAML script will be fine? I do not want to commit to something that does not work...

name: CMakeW

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}

[2021-10-08 07:09] you0me0 commented on #64
legacy opencl is not supported?

[2021-10-09 08:41] sowson commented on #64
how about in terminal:

sudo clinfo

are you in render group?

[2021-10-09 09:22] you0me0 commented on #64
Remove driver and Non GPU install(Only CPU)
Not sure, clinfo result
"Platform number 0"

[2021-10-09 10:42] you0me0 commented on #64
sudo clinfo -> number of platforms 0

My GPU only support opencl legacy

[2021-10-15 16:48] sowson commented on #64
sudo apt install ocl-icd-opencl-dev

[2021-10-15 16:48] #64 closed

[2021-10-19 16:08] rcastill opened #70 "Cannot compile libdarknet.so"
When using makefile:

[code]

[2021-10-19 23:52] sowson commented on #70
try

git pull && make -j8

is ok now?

[2021-11-02 09:03] you0me0 opened #73 "make error : cannot find -lopencv"
`
server@server:~/darknet$ pkg-config --modversion opencv4
4.1.2
`

opencv install 4.1.2

`
server@server:~/darknet$ make
[  0%] Linking CXX executable bindarknet
/usr/bin/ld: cannot find -lopencv
collect2: error: ld returned 1 exit status
make[2]: *** [CMakeFiles/bindarknet.dir/build.make:1149: bindarknet] error 1
make[1]: *** [CMakeFiles/Makefile2:80: CMakeFiles/bindarknet.dir/all] error 2
make:

[2021-11-02 16:51] sowson commented on #73
hmm... have you looked at this repository on auto-build scripts? please provide os name and version and some more details if you can, I do not need console outputs, just messages and conclusions should allow solving the issue :). the advice looks on CMake instead of making as an option to build. thanks for this issue, making this solution better :).

[2021-11-04 07:19] you0me0 commented on #73
@sowson
Ubuntu version 20.04
Kernel 5.11.0-38-generic

When I was using Ubuntu Kernel 5.4.. version, it worked fine.
Ah I haven't installed OpenCL right now.
To turn to the cpu

Sorry i use google transition

[2021-11-09 09:47] sowson commented on #73
should be fine with the last commit, thanks!

[2021-11-09 09:47] #73 closed

[2021-12-05 06:48] chenxy1988 opened #76 "activation_kernels.cl build failed on Intel HD Graphics"
Hi,

Sorry to trouble you, recently I am learning opencl related knowledge and using your project as an example. My laptop is a legacy dell which has a Intel onchip GPU and a ATI HD 7730M external GPU (too old :p) . the OS using ubuntu 20.04.
Since AMD no longer support HD7730M in newer Linux, so I using Intel onchip GPU to study the opencl.

I compiled the project and try to run an example in fol

[2021-12-06 09:20] chenxy1988 commented on #76
I read the former issues which were closed in this project. I saw an issue related Intel GPU and should set NVIDIA=0 and GPU_MULTI=0 in Makefile.
I will try this tonight when I back home and keep post the testing result.

By the way, May I trun on "list (APPEND DARKNET_DEFINITIONS GPU CL_TARGET_OPENCL_VERSION=$MY_ACTUAL_OPENCL_VERSION" in CMakeLists.txt ? The warning message always output during c

[2021-12-06 14:41] chenxy1988 commented on #76
Update:
I tried GPU_MULTI=0 NVIDIA=0 in make file, result the same as before.

[2021-12-07 03:23] chenxy1988 commented on #76
I found some cules to root cause:
1. I should not install beignet-ocl package due to my laptop don't have that hardware.
2. After removing beignet, clinfo show me no platform, but I have already installed intel-ocl packages.
3. The darknet-opencl also reponse me that no platform.
4. I used strace to track clinfo, found that it will accord to /etc/OpenCL/vendor/intel.* to find available devices in

[2021-12-07 11:12] sowson commented on #76
Please make

Sent from my iPhone a pull request and I will approve it, 👍;-)

[2021-12-09 08:11] chenxy1988 commented on #76
close this ticket ;)

[2021-12-09 08:11] #76 closed

[2021-12-09 08:14] chenxy1988 commented on #76
I read your paper "Darknet on OpenCL:a multi-platform tool for object detection and classification".

So cool :)

[2021-12-09 08:21] chenxy1988 commented on #76
I will port the code to ARM A53 based CPU with MALI G31 GPU, if successed, i will share a performance test to you. Might be next year due to learn openCL happens in my part time and "touching fish" time during working.

[2022-01-03 07:57] dna2github commented on #58
you need to add `printf` to track where the error occurs. I got 2 `segment fault` on macos, one is that if no name.list specified, `get_labels` function directly write default value string `data/names.list` terminator `\0` to `0` (`\0 == 0`; notice that the string has length 15, and `filename[strscn(filename, "\n\r")] = 0` -> `filename[15] = 0 -> filename[15]=>'\0'`); however, macos will crash it

[2022-01-07 07:42] KurtKoo commented on #58
@dna2github Thanks for your reply. I'm working on another task now. So I gave it up. But thank you very much!

[2022-01-07 07:43] #58 closed

[2022-02-02 04:24] ziqi-zhang opened #78 "Encountering problems when running darknet on RPI3B+"
Hi,

I tried to run darknet on RPI 3B+ with VC4CL. I can compile the code but encountered``Normalizer: Invalid local type for memory area: (g) f32* %arrayidx29.sink75`` when running the program. The VC4CL library is the official one https://github.com/doe300/VC4CL. The console output is as follows:
[code]

I found that the code to cause this problem is the function called ``opencl_load_buffer``, w

[2022-02-05 06:57] ziqi-zhang commented on #46
Hi @sowson , I cloned the code two or three weeks ago but I got the same problem ``FATAL ERROR: CL_INVALID_WORK_GROUP_SIZE opencl gemm_kernel error: CL_INVALID_WORK_GROUP_SIZE``. It seems that the problem is not solved?

[2022-02-05 07:03] #78 closed

[2022-07-12 20:36] sowson commented on #42
Pls, check https://iblog.isowa.io/2021/11/20/darknet-on-opencl-on-windows-11-x64 I only repeat steps by step guide and updated photo. It works now not sure why! ;-).

[2022-07-12 20:36] #42 closed

[2022-07-12 20:37] #66 closed, assigned to nobody

[2022-07-12 20:38] sowson commented on #70
Thanks to find a solution!

[2022-10-07 05:52] rajhlinux opened #79 "Can it be installed on FreeBSD 13.1?"
Hello,

can this project be installed on FreeBSD 13.1?

Thanks.

Edit:

Right at 98% build completion, I get this error:

[code]

[2022-10-07 08:19] rajhlinux commented on #79
Alright I was able to solve that error, it was because I for some reason I needed to have the "fmt" header file included into the xlocale.h file previously for another git project. The compiler kept throwing error that I needed to include "format.h" into "xlocale.h". I did so and everything went well, but for this git project seems like its not good.

So I had to remove the fmt header file from xl

[2022-10-08 04:16] rajhlinux commented on #79
Alright, so I was able replace the `gcvt` function with `sprintf` in the file located at:
`darknet/src/image.c`

[2022-10-08 17:39] sowson commented on #79
You do not have OpenCV installed, I presumed ;-). Do you?

[2022-10-09 02:41] rajhlinux commented on #79
Hello Sowson, thanks for replying and providing this excellent project. I think FreeBSD users finally have an implementation of obtaining GPU acceleration for machine vision thanks your Darknet OpenCL project. FreeBSD users usually use AMD GPUs since they are open source and allows easy portability.

I have installed OpenCV, here are the details of the OpenCV installation:

`pkg info opencv`:

[co

[2022-10-09 05:49] rajhlinux commented on #79
If I build with the `CmakeList.txt` option with the below setting:

`option(DARKNET_NO_BINARY "Do not build binary" ON)`

Everything seems to work fine with no errors:

[code]

Not sure how to build the binaries.

Thanks.

[2022-10-09 07:54] rajhlinux commented on #79
I have edited the CmakeList.txt file to let it use the Clang compiler instead of gcc:

[code]

Now it seems the error for OpenCV undefined references are gone, but do get an error with the `darknet` binary linking:

[code]

Thanks

[2022-10-09 08:36] rajhlinux commented on #79
I have edited all of the `src` files which contains:

`__linux__`
to:
`__unix__`

Now get error:

[code]

Thanks.

[2022-10-09 09:26] sowson commented on #79
Hi, inotify is specific to Linux. Look into system.h and system.c (keep __linux__ flag, not change to __unix__). Than detector.c and comment out line with monitor_directory (from system.h). And that should make binary for you ;-).

[2022-10-09 09:30] sowson commented on #79
When you change the files, can you make freebsd.patch file by calling `git diff > ../freebsd.patch` from darknet directory and share? that allow others to reuse, thank you!

[2022-10-09 09:31] sowson commented on #79
You may make a fork also... for freebsd and add as a patch or use __unix__ to make a generic solution for this work, thank you!

[2022-10-10 02:33] rajhlinux commented on #79
Hello Sowson, Thank you for replying again. :smiley:

I will make the changes as you have suggested and hopefully I can get the program to build and run. I will also create a patch as well. I will also try to run the patch as what you have messaged me.

Thanks.

[2022-10-10 05:22] rajhlinux commented on #79
The compile and build process has been finally succeeded:

[code]
I changed all flags back to `__linux__`.

On "system.c" file around line# 167, I changed the following:

From:
`#elif defined(__APPLE__)`

To:
`#elif defined(__APPLE__) || defined(__unix__)`

This allowed for the binaries to be built.

I also did not mentioned earlier that I edited the CmakeList.txt file, adding "Unix":

From:
`if (

[2022-10-10 07:17] rajhlinux commented on #79
I get the following error when trying to run the program:

`$ /home/user/darknet/build/darknet /usr/home/user/darknet/cfg/yolov1.cfg /usr/home/user/darknet/weights/yolo.weights /home/user/darknet/data/dog.jpg`

[code]

Thanks.

[2022-10-10 12:01] sowson commented on #79
$ grep .idea/workspace.xml | grep bindarknet | grep configuration

[2022-10-11 00:16] rajhlinux commented on #79
Hello Sowa, Thank You for replying.

I have entered:

`$ grep .idea/workspace.xml | grep bindarknet | grep configuration`

to the root directory of "darknet" folder and nothing happens...

![screenshot](https://user-images.githubusercontent.com/61344181/194971030-d164ca86-4c9a-4549-a36b-17f015f6f8dc.jpg)

Thanks.

[2022-10-11 01:55] sowson commented on #79
Did you: git clone repo?

https://github.com/sowson/darknet/blob/master/.idea/workspace.xml <https://github.com/sowson/darknet/blob/master/.idea/workspace.xml> ;-).

p

[2022-10-11 02:01] rajhlinux commented on #79
Hello Sowa, Thanks for replying.

Yes, I have git cloned the repo:

This is what I entered on home directory:
git clone https://github.com/sowson/darknet.git

I think I did not provide the full path correctly before when running `darknet`.

I am using yolov3 and get a different error which is similar to someone else I read on the issues section of this repo:

`$ /home/user/darknet/build/darknet de

[2022-10-11 02:06] sowson commented on #79
Did you changed sprintf 2nd parameter to be “%f.2” as I sent to you in patch as an example?

[2022-10-11 02:07] rajhlinux commented on #79
No I have not, I will do it now.

Thank you.

[2022-10-11 02:08] sowson commented on #79
YOLO3 (dog.jpg example) command is:

$ darknet detect cfg/coco.data cfg/yolov3.cfg ../../../weights/yolov3.weights data/dog.jpg

[2022-10-11 02:30] rajhlinux commented on #79
I have done the correct patch for `sprintf`.

Now get a different error:

`$ darknet detect cfg/coco.data cfg/yolov3.cfg ../../../weights/yolov3.weights data/dog.jpg`

Shows:

[code]

Thanks.

[2022-10-11 03:56] rajhlinux commented on #79
Alrighty...

So I have done some googling, it seems like others had the same issue with original CUDA repo for darknet:
https://github.com/pjreddie/darknet/issues/813

I edited the `coco.data` file located at:
/usr/home/user/darknet/cfg/coco.data

From:

[code]

To:
[code]

All that was required was to append the `../` prefix notation at the beginning for: `names = data/coco.names`.

I haven't rec

[2022-10-11 04:20] rajhlinux commented on #79
Would like to point out that it seems like I would need to use full path syntaxes for CLI.

When I use the following different syntaxes below, I obtain errors:

`root@user:/home/user/darknet/build # darknet detect cfg/coco.data cfg/yolov3.cfg ../../../weights/yolov3.weights data/dog.jpg`

Shows:

[code]

`root@user:/home/user/darknet/build # ./darknet detect cfg/coco.data cfg/yolov3.cfg ../../../w

[2022-10-11 05:13] rajhlinux commented on #79
So the compilation seems like it is working properly:

`./darknet imtest /usr/home/user/darknet/data/dog.jpg`

![darknet_opencl](https://user-images.githubusercontent.com/61344181/195002257-b0597fd7-5032-418e-9cae-8e90bae7fc56.jpg)

However, it seems like AMD RX-580 GPU is taking a nap :thinking:
Maybe the simple test is not intensive for for GPU...

Thanks.

[2022-10-11 05:53] sowson commented on #79
cp darknet ../

and use it from darknet dir ;-). not from build.

thanks!

[2022-10-11 06:21] rajhlinux commented on #79
Alright, will do.

Thank You.

[2022-10-11 07:17] sowson commented on #79
For no annotations make sure you probably did (in image.c):

image ilfps = get_label(alphabet, sprintf(lfps, "%.2f", fps), (im.h * .03));

and you should:

sprintf(lfps, "%.2f", fps);
image ilfps = get_label(alphabet, lfps, (im.h * .03));

For clBLAS try: https://github.com/sowson/clBLAS <https://github.com/sowson/clBLAS> ;-).

not enable multi-gpu flag it is experimental! for my custom gemm.

Tha

[2022-10-11 07:28] rajhlinux commented on #79
Understood, will try your suggestions.

Thank You.

[2022-10-11 08:17] rajhlinux commented on #79
I am trying to compile your repo for clBAS:
https://github.com/sowson/clBLAS

I encounter errors early on when using GCC.

So I use clang:

[code]

I did not edit the CmakeList.txt file, and simply entered the following:

[code]

I encounter errors around 73% compilation:

[code]

Thanks

[2022-10-11 08:24] sowson commented on #79
in my repo there is folder patches, there should be clblast.patch to apply, maybe you can try use CLBlast instead?

I think clblast is standard pkg in distro: https://distrowatch.com/table-mobile.php?distribution=freebsd&pkglist=true&version=13.1 <https://distrowatch.com/table-mobile.php?distribution=freebsd&pkglist=true&version=13.1>

Thank you!

[2022-10-11 09:45] rajhlinux commented on #79
Thank You.

I have installed clBlast:

`$ pkg install clblast`

Information about `clblast`:

`$ pkg info clblast`:

[code]

Files installed to the system path for `clblast`:

`$ pkg info -lx clblast`:

[code]

I encountered an error when doing a `cmake` for a new darknet repo applied with CLBlast patch and FreeBSD patch:

[code]

_I then apply FreeBSD patch_

Then continued to build darknet:

[co

[2022-10-12 01:37] rajhlinux commented on #79
Hello Sowa, Thank You for the reply.

It turns out I needed to place some compiler flags to `CamkeList.txt`.
I first place the flag: `-lm` which takes care of linking the `math.h` symbols:

`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -lstdc++ -pthread -lm")`

Did a `cmake ..` and `make -j 8` again:

[code]

All of the `.C` file related compilation errors are gone.

The remaining errors seems to be ba

[2022-10-12 04:31] rajhlinux commented on #79
Wow this is super fast :dash: :1234: :open_mouth:

Predicted in 0.346 milliseconds:

[code]

![darknet_opencl_people](https://user-images.githubusercontent.com/61344181/195247510-b0ba2ebd-21c5-4612-9539-75b36ee456f7.jpg)

The fastest I can obtain before for the same image with 100% accuracy took 14 seconds using "libfacedetection" (C/C++) and 5 seconds using "dlib" (C/C++). No more CPU days ever a

[2022-10-12 04:31] #79 closed

[2022-10-12 06:16] sowson commented on #79
Congrats! you did the whole work. I only gave you some ideas... so all thanks to you. Here you have examples got from .idea/workspace.xml file in this repo...
[commands.txt](https://github.com/sowson/darknet/files/9762040/commands.txt)
 Enjoy!

[2022-10-12 06:21] rajhlinux commented on #79
Thank You.

[2022-10-13 01:42] rajhlinux commented on #2
After looking at the video (around 1:02):
https://www.jevoisinc.com/

... the jevoisinc mentions it uses a NPU (Tensor Core) built-in hardware, this is proper AI tech (Matrix Multiplier) hardware to boost AI computation performance. Similar to how Nvidia GPUs have built in Tensor Cores. Doing AI in regular GPU cores are not ideal for AI but it does help in offloading CPU usage, if your hardware do